In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/data/dacon_menu_final_category.csv")

In [ ]:
data

        Unnamed: 0  user_id      menu  menu_id  timestamp category
0                0        0        찐빵        0          1       양식
1                1        0       맑은국       16          1       한식
2                2        0     오징어찌개        1          2       한식
3                3        0       육개장        2          3       한식
4                4        0     단호박샌드        3          4       양식
...            ...      ...       ...      ...        ...      ...
134149      134149     4517     채소계란찜     1517         26       한식
134150      134150     4517   애호박나물볶음     2341         27       한식
134151      134151     4517  청포묵*양념간장     1991         28       한식
134152      134152     4517   마늘종호두조림     2337         29       한식
134153      134153     4517  춘권*타르타르D     1518         29       중식

[134154 rows x 6 columns]

In [ ]:
data

        Unnamed: 0  user_id      menu  menu_id  timestamp category
0                0        0        찐빵        0          1       양식
1                1        0       맑은국       16          1       한식
2                2        0     오징어찌개        1          2       한식
3                3        0       육개장        2          3       한식
4                4        0     단호박샌드        3          4       양식
...            ...      ...       ...      ...        ...      ...
134149      134149     4517     채소계란찜     1517         26       한식
134150      134150     4517   애호박나물볶음     2341         27       한식
134151      134151     4517  청포묵*양념간장     1991         28       한식
134152      134152     4517   마늘종호두조림     2337         29       한식
134153      134153     4517  춘권*타르타르D     1518         29       중식

[134154 rows x 6 columns]

In [ ]:
data["property"] = 0
data

        Unnamed: 0  user_id      menu  menu_id  timestamp category  property
0                0        0        찐빵        0          1       양식         0
1                1        0       맑은국       16          1       한식         0
2                2        0     오징어찌개        1          2       한식         0
3                3        0       육개장        2          3       한식         0
4                4        0     단호박샌드        3          4       양식         0
...            ...      ...       ...      ...        ...      ...       ...
134149      134149     4517     채소계란찜     1517         26       한식         0
134150      134150     4517   애호박나물볶음     2341         27       한식         0
134151      134151     4517  청포묵*양념간장     1991         28       한식         0
134152      134152     4517   마늘종호두조림     2337         29       한식         0
134153      134153     4517  춘권*타르타르D     1518         29       중식         0

[134154 rows x 7 columns]

In [ ]:
lst1 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-1] == "국":
    lst1.append(i)

In [ ]:
data.loc[lst1,"property"] = "국류"

In [ ]:
data.head(20)

    Unnamed: 0  user_id    menu  menu_id  timestamp category property
0            0        0      찐빵        0          1       양식        0
1            1        0     맑은국       16          1       한식       국류
2            2        0   오징어찌개        1          2       한식        0
3            3        0     육개장        2          3       한식        0
4            4        0   단호박샌드        3          4       양식        0
5            5        0    김치찌개        4          5       한식        0
6            6        0     어묵국        5          6       한식       국류
7            7        0     베이글        6          7       양식        0
8            8        0    팽이장국        7          8       한식       국류
9            9        0   청국장찌개        8          9       한식        0
10          10        0   토마토샌드        9         10       양식        0
11          11        0   쇠고기무국       10         11       한식       국류
12          12        0      우동       11         12       일식        0
13          13        0      와플       12         13       양식        0
14          14        0      떡국       13         14       한식       국류
15          15        0  차돌박이찌개       14         15       한식        0
16          16        0      찐빵        0         16       양식        0
17          17        0    시래기국       15         17       한식       국류
18          18        0     맑은국       16         18       한식       국류
19          19        0    야채샌드       17         19       양식        0

In [ ]:
lst2 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "찌개":
    lst2.append(i)

In [ ]:
data.loc[lst2,"property"] = "찌개류"

In [ ]:
data.head(20)

    Unnamed: 0  user_id    menu  menu_id  timestamp category property
0            0        0      찐빵        0          1       양식        0
1            1        0     맑은국       16          1       한식       국류
2            2        0   오징어찌개        1          2       한식      찌개류
3            3        0     육개장        2          3       한식        0
4            4        0   단호박샌드        3          4       양식        0
5            5        0    김치찌개        4          5       한식      찌개류
6            6        0     어묵국        5          6       한식       국류
7            7        0     베이글        6          7       양식        0
8            8        0    팽이장국        7          8       한식       국류
9            9        0   청국장찌개        8          9       한식      찌개류
10          10        0   토마토샌드        9         10       양식        0
11          11        0   쇠고기무국       10         11       한식       국류
12          12        0      우동       11         12       일식        0
13          13        0      와플       12         13       양식        0
14          14        0      떡국       13         14       한식       국류
15          15        0  차돌박이찌개       14         15       한식      찌개류
16          16        0      찐빵        0         16       양식        0
17          17        0    시래기국       15         17       한식       국류
18          18        0     맑은국       16         18       한식       국류
19          19        0    야채샌드       17         19       양식        0

In [ ]:
lst3 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "샌드":
    lst3.append(i)

In [ ]:
data.loc[lst3,"property"] = "빵류"

In [ ]:
data[data['user_id'].isin([0])]

    Unnamed: 0  user_id    menu  menu_id  timestamp category property
0            0        0      찐빵        0          1       양식        0
1            1        0     맑은국       16          1       한식       국류
2            2        0   오징어찌개        1          2       한식      찌개류
3            3        0     육개장        2          3       한식        0
4            4        0   단호박샌드        3          4       양식       빵류
5            5        0    김치찌개        4          5       한식      찌개류
6            6        0     어묵국        5          6       한식       국류
7            7        0     베이글        6          7       양식        0
8            8        0    팽이장국        7          8       한식       국류
9            9        0   청국장찌개        8          9       한식      찌개류
10          10        0   토마토샌드        9         10       양식       빵류
11          11        0   쇠고기무국       10         11       한식       국류
12          12        0      우동       11         12       일식        0
13          13        0      와플       12         13       양식        0
14          14        0      떡국       13         14       한식       국류
15          15        0  차돌박이찌개       14         15       한식      찌개류
16          16        0      찐빵        0         16       양식        0
17          17        0    시래기국       15         17       한식       국류
18          18        0     맑은국       16         18       한식       국류
19          19        0    야채샌드       17         19       양식       빵류
20          20        0     꽃게탕       18         20       한식        0
21          21        0  김치콩나물국       19         21       한식       국류
22          22        0   치즈프레즐       20         22       양식        0
23          23        0    시금치국       21         23       한식       국류
24          24        0   홍합미역국       22         24       한식       국류
25          25        0     마늘빵       23         25       양식        0
26          26        0   쇠고기무국       10         26       한식       국류
27          27        0    된장찌개       24         27       한식      찌개류
28          28        0    참치샌드       25         28       양식       빵류
29          29        0   냉이된장국       26         29       한식       국류

In [ ]:
lst4 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "찐빵":
    lst4.append(i)

data.loc[lst4,"property"] = "빵류"

data.head(10)

   Unnamed: 0  user_id   menu  menu_id  timestamp category property
0           0        0     찐빵        0          1       양식       빵류
1           1        0    맑은국       16          1       한식       국류
2           2        0  오징어찌개        1          2       한식      찌개류
3           3        0    육개장        2          3       한식        0
4           4        0  단호박샌드        3          4       양식       빵류
5           5        0   김치찌개        4          5       한식      찌개류
6           6        0    어묵국        5          6       한식       국류
7           7        0    베이글        6          7       양식        0
8           8        0   팽이장국        7          8       한식       국류
9           9        0  청국장찌개        8          9       한식      찌개류

In [ ]:
lst5 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "개장":
    lst5.append(i)

data.loc[lst5,"property"] = "면류"

data.head(10)

   Unnamed: 0  user_id   menu  menu_id  timestamp category property
0           0        0     찐빵        0          1       양식       빵류
1           1        0    맑은국       16          1       한식       국류
2           2        0  오징어찌개        1          2       한식      찌개류
3           3        0    육개장        2          3       한식       면류
4           4        0  단호박샌드        3          4       양식       빵류
5           5        0   김치찌개        4          5       한식      찌개류
6           6        0    어묵국        5          6       한식       국류
7           7        0    베이글        6          7       양식        0
8           8        0   팽이장국        7          8       한식       국류
9           9        0  청국장찌개        8          9       한식      찌개류

In [ ]:
lst6 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "베이글":
    lst6.append(i)

data.loc[lst6,"property"] = "빵류"

data.head(10)

   Unnamed: 0  user_id   menu  menu_id  timestamp category property
0           0        0     찐빵        0          1       양식       빵류
1           1        0    맑은국       16          1       한식       국류
2           2        0  오징어찌개        1          2       한식      찌개류
3           3        0    육개장        2          3       한식       면류
4           4        0  단호박샌드        3          4       양식       빵류
5           5        0   김치찌개        4          5       한식      찌개류
6           6        0    어묵국        5          6       한식       국류
7           7        0    베이글        6          7       양식       빵류
8           8        0   팽이장국        7          8       한식       국류
9           9        0  청국장찌개        8          9       한식      찌개류

In [ ]:
lst7 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "우동":
    lst7.append(i)

data.loc[lst7,"property"] = "면류"

In [ ]:
lst8 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "와플":
    lst8.append(i)

data.loc[lst8,"property"] = "디저트류"

In [ ]:
lst9 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-1:] == "탕":
    lst9.append(i)

data.loc[lst9,"property"] = "탕류"

data.head(10)

   Unnamed: 0  user_id   menu  menu_id  timestamp category property
0           0        0     찐빵        0          1       양식       빵류
1           1        0    맑은국       16          1       한식       국류
2           2        0  오징어찌개        1          2       한식      찌개류
3           3        0    육개장        2          3       한식       면류
4           4        0  단호박샌드        3          4       양식       빵류
5           5        0   김치찌개        4          5       한식      찌개류
6           6        0    어묵국        5          6       한식       국류
7           7        0    베이글        6          7       양식       빵류
8           8        0   팽이장국        7          8       한식       국류
9           9        0  청국장찌개        8          9       한식      찌개류

In [ ]:
data[data['user_id'].isin([0])]

    Unnamed: 0  user_id    menu  menu_id  timestamp category property
0            0        0      찐빵        0          1       양식       빵류
1            1        0     맑은국       16          1       한식       국류
2            2        0   오징어찌개        1          2       한식      찌개류
3            3        0     육개장        2          3       한식       면류
4            4        0   단호박샌드        3          4       양식       빵류
5            5        0    김치찌개        4          5       한식      찌개류
6            6        0     어묵국        5          6       한식       국류
7            7        0     베이글        6          7       양식       빵류
8            8        0    팽이장국        7          8       한식       국류
9            9        0   청국장찌개        8          9       한식      찌개류
10          10        0   토마토샌드        9         10       양식       빵류
11          11        0   쇠고기무국       10         11       한식       국류
12          12        0      우동       11         12       일식       면류
13          13        0      와플       12         13       양식     디저트류
14          14        0      떡국       13         14       한식       국류
15          15        0  차돌박이찌개       14         15       한식      찌개류
16          16        0      찐빵        0         16       양식       빵류
17          17        0    시래기국       15         17       한식       국류
18          18        0     맑은국       16         18       한식       국류
19          19        0    야채샌드       17         19       양식       빵류
20          20        0     꽃게탕       18         20       한식       탕류
21          21        0  김치콩나물국       19         21       한식       국류
22          22        0   치즈프레즐       20         22       양식        0
23          23        0    시금치국       21         23       한식       국류
24          24        0   홍합미역국       22         24       한식       국류
25          25        0     마늘빵       23         25       양식        0
26          26        0   쇠고기무국       10         26       한식       국류
27          27        0    된장찌개       24         27       한식      찌개류
28          28        0    참치샌드       25         28       양식       빵류
29          29        0   냉이된장국       26         29       한식       국류

In [ ]:
lst10 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "프레즐":
    lst10.append(i)

data.loc[lst10,"property"] = "디저트류"

In [ ]:
lst11 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "마늘빵":
    lst11.append(i)

data.loc[lst11,"property"] = "디저트류"

In [ ]:
data[data['user_id'].isin([1])]

    Unnamed: 0  user_id     menu  menu_id  timestamp category property
30          30        1    근대된장국       52          1       한식       국류
31          31        1   인절미토스트       27          2       양식        0
32          32        1       우동       11          2       일식       면류
33          33        1     유부장국       28          3       한식       국류
34          34        1    순두부찌개       29          4       한식      찌개류
35          35        1    씨크립샌드       30          5       양식       빵류
36          36        1     대구찌개       31          6       한식      찌개류
37          37        1      설렁탕       32          7       한식       탕류
38          38        1      팬케익       33          8       양식        0
39          39        1  쇠고기느타리국       34          9       한식       국류
40          40        1   옹심이만두국       35         10       한식       국류
41          41        1     야채샌드       17         11       양식       빵류
42          42        1     콩나물국       36         12       한식       국류
43          43        1    콩비지찌개       37         13       한식      찌개류
44          44        1      꿀호떡       38         14       한식        0
45          45        1     팽이장국        7         15       한식       국류
46          46        1    열무된장국       39         16       한식       국류
47          47        1     크로와상       40         17       양식        0
48          48        1    북어계란국       41         18       한식       국류
49          49        1     잔치국수       42         19       한식        0
50          50        1     에그샌드       43         20       양식       빵류
51          51        1     수제비국       44         21       한식       국류
52          52        1      닭개장       45         22       한식       면류
53          53        1   프렌치토스트       46         23       양식        0
54          54        1   얼갈이된장국       47         24       한식       국류
55          55        1    버섯들깨탕       48         25       한식       탕류
56          56        1      단팥빵       49         26       양식        0
57          57        1   쇠고기미역국       50         27       한식       국류
58          58        1     된장찌개       24         28       한식      찌개류
59          59        1    바나나샌드       51         29       양식       빵류

In [ ]:
lst12 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "토스트":
    lst12.append(i)

data.loc[lst12,"property"] = "빵류"

In [ ]:
lst13 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "케익":
    lst13.append(i)

data.loc[lst13,"property"] = "디저트류"

In [ ]:
lst14 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "호떡":
    lst14.append(i)

data.loc[lst14,"property"] = "디저트류"

In [ ]:
lst15 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "국수":
    lst15.append(i)

data.loc[lst15,"property"] = "면류"

In [ ]:
lst16 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "와상":
    lst16.append(i)

data.loc[lst16,"property"] = "디저트류"

In [ ]:
lst17 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "단팥빵":
    lst17.append(i)

data.loc[lst17,"property"] = "빵류"

In [ ]:
data[data['user_id'].isin([2])]

    Unnamed: 0  user_id    menu  menu_id  timestamp category property
60          60        2   베이컨샌드       72          1       양식       빵류
61          61        2  사골우거지국       73          2       한식       국류
62          62        2    사과파이       53          3       양식        0
63          63        2   양송이스프       74          3       양식        0
64          64        2    부대찌개       54          4       한식      찌개류
65          65        2    오징어국       55          5       한식       국류
66          66        2    브라우니       56          6       양식        0
67          67        2    콩나물국       36          7       한식       국류
68          68        2    대구찌개       31          8       한식      찌개류
69          69        2   고구마샌드       57          9       양식       빵류
70          70        2  차돌박이찌개       14         10       한식      찌개류
71          71        2   가쯔오장국       58         11       한식       국류
72          72        2     롤케익       59         12       양식     디저트류
73          73        2     북어국       60         13       한식       국류
74          74        2     육개장        2         14       한식       면류
75          75        2   햄치즈샌드       61         15       양식       빵류
76          76        2   고추장찌개       62         16       한식      찌개류
77          77        2      짬뽕       63         17       중식        0
78          78        2      찐빵        0         18       양식       빵류
79          79        2   배추된장국       64         19       한식       국류
80          80        2    연두부탕       65         20       한식       탕류
81          81        2    롤케이크       66         21       양식        0
82          82        2     어묵국        5         22       한식       국류
83          83        2  달래된장찌개       67         23       한식      찌개류
84          84        2    에그샌드       43         24       양식       빵류
85          85        2      쑥국       68         25       한식       국류
86          86        2    계란파국       69         26       한식       국류
87          87        2   치즈프레즐       20         27       양식     디저트류
88          88        2  콩나물김치국       70         28       한식       국류
89          89        2    뼈해장국       71         29       한식       국류

In [ ]:
lst18 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "파이":
    lst18.append(i)

data.loc[lst18,"property"] = "디저트류"

In [ ]:
lst19 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "브라우니":
    lst19.append(i)

data.loc[lst19,"property"] = "디저트류"

In [ ]:
lst20 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "짬뽕":
    lst20.append(i)

data.loc[lst20,"property"] = "면류"

In [ ]:
lst21 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "케이크":
    lst21.append(i)

data.loc[lst21,"property"] = "디저트류"

In [ ]:
lst22 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "스프":
    lst22.append(i)

data.loc[lst22,"property"] = "국류"

In [ ]:
data[data['user_id'].isin([3])]

     Unnamed: 0  user_id    menu  menu_id  timestamp category property
90           90        3     어묵국        5          1       한식       국류
91           91        3     단팥빵       49          2       양식       빵류
92           92        3  매운콩나물국       83          3       한식       국류
93           93        3    크로와상       40          4       양식     디저트류
94           94        3    잔치국수       42          4       한식       면류
95           95        3    시금치국       21          5       한식       국류
96           96        3     닭곰탕       75          6       한식       탕류
97           97        3     마늘빵       23          7       양식     디저트류
98           98        3     꽃게탕       18          8       한식       탕류
99           99        3    수제비국       44          9       한식       국류
100         100        3   씨크립샌드       30         10       양식       빵류
101         101        3  쇠고기샤브국       76         11       한식       국류
102         102        3   가쯔오장국       58         12       한식       국류
103         103        3    카스텔라       77         13       양식        0
104         104        3     맑은국       16         14       한식       국류
105         105        3      알탕       78         15       한식       탕류
106         106        3   토마토샌드        9         16       양식       빵류
107         107        3   북어계란국       41         17       한식       국류
108         108        3    미소장국       79         18       한식       국류
109         109        3      와플       12         19       양식     디저트류
110         110        3     닭개장       45         20       한식       면류
111         111        3  냉이된장찌개       80         21       한식      찌개류
112         112        3  프렌치토스트       46         22       양식       빵류
113         113        3  얼갈이된장국       47         23       한식       국류
114         114        3   콩비지찌개       37         24       한식      찌개류
115         115        3    참치샌드       25         25       양식       빵류
116         116        3  옹심이만두국       35         26       한식       국류
117         117        3    유부장국       28         27       한식       국류
118         118        3     핫도그       81         28       양식        0
119         119        3     쪽파국       82         29       한식       국류

In [ ]:
lst23 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "카스텔라":
    lst23.append(i)

data.loc[lst23,"property"] = "디저트류"

In [ ]:
lst24 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "도그":
    lst24.append(i)

data.loc[lst24,"property"] = "패스트부드류"

In [ ]:
lst25 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "사리":
    lst25.append(i)

data.loc[lst25,"property"] = "찌개류"

In [ ]:
lst26 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "피자":
    lst26.append(i)

data.loc[lst26,"property"] = "패스트푸드류"

In [ ]:
lst27 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "무침":
    lst27.append(i)

data.loc[lst27,"property"] = "무침류"

In [ ]:
lst28 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-1:] == "찜":
    lst28.append(i)

data.loc[lst28,"property"] = "찜류"

In [ ]:
lst29 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "볶음":
    lst29.append(i)

data.loc[lst29,"property"] = "볶음류"

In [ ]:
lst30 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "냉면":
    lst30.append(i)

data.loc[lst30,"property"] = "면류"

In [ ]:
lst31 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "조림":
    lst31.append(i)

data.loc[lst31,"property"] = "조림류"

In [ ]:
lst32 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "스파게티":
    lst32.append(i)

data.loc[lst32,"property"] = "면류"

In [ ]:
lst33 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "스테이크":
    lst33.append(i)

data.loc[lst33,"property"] = "고기류"

In [ ]:
lst34 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-1:] == "밥":
    lst34.append(i)

data.loc[lst34,"property"] = "밥류"

In [ ]:
lst35 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-1:] == "전":
    lst35.append(i)

data.loc[lst35,"property"] = "전류"

In [ ]:
data[data['user_id'].isin([13])] # n번 user 메뉴 확인

     Unnamed: 0  user_id       menu  menu_id  timestamp category property
390         390       13     도토리묵냉국      121          1       한식       국류
391         391       13       된장찌개       24          2       한식      찌개류
392         392       13         와플       12          3       양식     디저트류
393         393       13        꽃게탕       18          4       한식       탕류
394         394       13        무채국       98          5       한식       국류
395         395       13       참치샌드       25          6       양식       빵류
396         396       13      배추된장국       64          7       한식       국류
397         397       13       유부장국       28          8       한식       국류
398         398       13         찐빵        0          9       양식       빵류
399         399       13     해물된장찌개      147         10       한식      찌개류
400         400       13        감자국      148         11       한식       국류
401         401       13      인절미샌드      149         12       양식       빵류
402         402       13        육개장        2         13       한식       면류
403         403       13       야채샌드       17         14       양식       빵류
404         404       13        작은밥      150         14       한식       밥류
405         405       13       시래기국       15         15       한식       국류
406         406       13  스파게티/크림스프      145         16       양식       국류
407         407       13         와플       12         17       양식     디저트류
408         408       13        맑은국       16         18       한식       국류
409         409       13       김치찌개        4         19       한식      찌개류
410         410       13        꿀호떡       38         20       한식     디저트류
411         411       13        닭곰탕       75         21       한식       탕류
412         412       13       미소장국       79         22       한식       국류
413         413       13      토마토샌드        9         23       양식       빵류
414         414       13      대구매운탕       90         24       한식       탕류
415         415       13      콩비지찌개       37         25       한식      찌개류
416         416       13       브라우니       56         26       양식     디저트류
417         417       13      열무된장국       39         27       한식       국류
418         418       13       김치우동      146         28       일식       면류
419         419       13      옥수수샌드       97         29       양식       빵류

In [ ]:
lst36 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-1:] == "탕":
    lst36.append(i)

data.loc[lst36,"property"] = "탕류"

In [ ]:
lst37 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-5:] == "(해장탕)":
    lst37.append(i)

data.loc[lst37,"property"] = "탕류"

In [ ]:
data[data['user_id'].isin([17])] # n번 user 메뉴 확인

     Unnamed: 0  user_id      menu  menu_id  timestamp category property
510         510       17       베이글        6          1       양식       빵류
511         511       17    참치김치찌개      114          2       한식      찌개류
512         512       17       어묵국        5          3       한식       국류
513         513       17     씨크립샌드       30          4       양식       빵류
514         514       17  돈신탕(해장탕)      170          5       한식       탕류
515         515       17     옥수수스프      171          6       양식       국류
516         516       17       프레즐      172          7       양식     디저트류
517         517       17       계란국      123          8       한식       국류
518         518       17       닭개장       45          9       한식       면류
519         519       17        찐빵        0         10       양식       빵류
520         520       17      된장찌개       24         11       한식      찌개류
521         521       17     북어계란국       41         12       한식       국류
522         522       17     햄치즈샌드       61         13       양식       빵류
523         523       17       육개장        2         14       한식       면류
524         524       17     가쯔오장국       58         15       한식       국류
525         525       17     단호박샌드        3         16       양식       빵류
526         526       17     배추된장국       64         17       한식       국류
527         527       17      식빵피자      109         18       양식   패스트푸드류
528         528       17    쇠고기샤브국       76         18       한식       국류
529         529       17        떡국       13         19       한식       국류
530         530       17      어묵우동      167         20       일식       면류
531         531       17       단팥빵       49         21       양식       빵류
532         532       17     건새우무국      168         22       한식       국류
533         533       17      부대찌개       54         23       한식      찌개류
534         534       17       마늘빵       23         24       양식     디저트류
535         535       17       미역국       92         25       한식       국류
536         536       17    해물된장찌개      147         26       한식      찌개류
537         537       17      야채샌드       17         27       양식       빵류
538         538       17       꽃게탕       18         28       한식       탕류
539         539       17     참치주먹밥      169         29       한식       밥류

In [ ]:
data[data["property"] == 0] # 아직 category 추가 안 된 애들 확인하는 코드

        Unnamed: 0  user_id      menu  menu_id  timestamp category property
561            561       18    바지락수제비      173         21       한식        0
632            632       21    녹차카스테라      184          4       양식        0
658            658       21      대구지리      183         29       한식        0
682            682       22    바지락수제비      173         24       한식        0
806            806       27       피자빵      210          1       양식        0
...            ...      ...       ...      ...        ...      ...      ...
134137      134137     4517  오꼬노미계란말이     1414         14       한식        0
134138      134138     4517      스팸구이     2290         15       한식        0
134139      134139     4517   오지치즈후라이     1987         16       양식        0
134151      134151     4517  청포묵*양념간장     1991         28       한식        0
134153      134153     4517  춘권*타르타르D     1518         29       중식        0

[45969 rows x 7 columns]

In [ ]:
lst38 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "수제비":
    lst38.append(i)

data.loc[lst38,"property"] = "탕류"

In [ ]:
data[data['user_id'].isin([18])] # n번 user 메뉴 확인

     Unnamed: 0  user_id    menu  menu_id  timestamp category property
540         540       18    해물짬뽕      174          1       중식       면류
541         541       18    크로와상       40          2       양식     디저트류
542         542       18   가쯔오장국       58          3       한식       국류
543         543       18   청국장찌개        8          4       한식      찌개류
544         544       18   토마토샌드        9          5       양식       빵류
545         545       18   쇠고기무국       10          6       한식       국류
546         546       18    미소장국       79          7       한식       국류
547         547       18    브라우니       56          8       양식     디저트류
548         548       18  사골우거지탕      134          9       한식       탕류
549         549       18   순두부찌개       29         10       한식      찌개류
550         550       18     마늘빵       23         11       양식     디저트류
551         551       18    오징어국       55         12       한식       국류
552         552       18  목살김치찌개      175         13       한식      찌개류
553         553       18   씨크립샌드       30         14       양식       빵류
554         554       18  차돌박이찌개       14         15       한식      찌개류
555         555       18     맑은국       16         16       한식       국류
556         556       18    애플파이      124         17       양식     디저트류
557         557       18     꽃게탕       18         18       한식       탕류
558         558       18   고구마파이      104         19       양식     디저트류
559         559       18    뼈해장국       71         19       한식       국류
560         560       18    동태찌개      135         20       한식      찌개류
561         561       18  바지락수제비      173         21       한식       탕류
562         562       18  인절미토스트       27         22       양식       빵류
563         563       18   버섯들깨탕       48         23       한식       탕류
564         564       18    오징어국       55         24       한식       국류
565         565       18  후르츠팬케익      164         25       양식     디저트류
566         566       18   근대된장국       52         26       한식       국류
567         567       18    부대찌개       54         27       한식      찌개류
568         568       18    에그샌드       43         28       양식       빵류
569         569       18      알탕       78         29       한식       탕류

In [ ]:
data[data["property"] == 0] # 아직 category 추가 안 된 애들 확인하는 코드

        Unnamed: 0  user_id        menu  menu_id  timestamp category property
632            632       21      녹차카스테라      184          4       양식        0
658            658       21        대구지리      183         29       한식        0
806            806       27         피자빵      210          1       양식        0
855            855       28  쇠고기무국(빨갛게)      215         20       한식        0
877            877       29     카레돈까스정식      217         13       일식        0
...            ...      ...         ...      ...        ...      ...      ...
134137      134137     4517    오꼬노미계란말이     1414         14       한식        0
134138      134138     4517        스팸구이     2290         15       한식        0
134139      134139     4517     오지치즈후라이     1987         16       양식        0
134151      134151     4517    청포묵*양념간장     1991         28       한식        0
134153      134153     4517    춘권*타르타르D     1518         29       중식        0

[45861 rows x 7 columns]

In [ ]:
lst39 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "지리":
    lst39.append(i)

data.loc[lst39,"property"] = "탕류"

In [ ]:
lst40 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-1:] == "카스테라":
    lst40.append(i)

data.loc[lst40,"property"] = "빵류"

In [ ]:
lst41 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-8:] == "오꼬노미계란말이":
    lst41.append(i)

data.loc[lst41,"property"] = "전류"

In [ ]:
lst42 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-1:] == "빵":
    lst42.append(i)

data.loc[lst42,"property"] = "빵류"

In [ ]:
data[data["property"] == 0] # 아직 category 추가 안 된 애들 확인하는 코드

        Unnamed: 0  user_id        menu  menu_id  timestamp category property
632            632       21      녹차카스테라      184          4       양식        0
855            855       28  쇠고기무국(빨갛게)      215         20       한식        0
877            877       29     카레돈까스정식      217         13       일식        0
946            946       31       옛날돈가스      221         23       일식        0
1167          1167       39       옛날돈까스      238          7       일식        0
...            ...      ...         ...      ...        ...      ...      ...
134136      134136     4517       김말이강정      503         13       한식        0
134138      134138     4517        스팸구이     2290         15       한식        0
134139      134139     4517     오지치즈후라이     1987         16       양식        0
134151      134151     4517    청포묵*양념간장     1991         28       한식        0
134153      134153     4517    춘권*타르타르D     1518         29       중식        0

[44865 rows x 7 columns]

In [ ]:
lst43 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-1:] == "D":
    lst43.append(i)

data.loc[lst43,"property"] = "튀김류"

In [ ]:
lst44 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "카스테라":
    lst44.append(i)

data.loc[lst44,"property"] = "빵류"

In [ ]:
lst45 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "스팸구이":
    lst45.append(i)

data.loc[lst45,"property"] = "구이류"    
#스팸은 한식인가? 애매하지만 일단 한식으로 하기로

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id        menu  menu_id  timestamp category property
855            855       28  쇠고기무국(빨갛게)      215         20       한식        0
877            877       29     카레돈까스정식      217         13       일식        0
946            946       31       옛날돈가스      221         23       일식        0
1167          1167       39       옛날돈까스      238          7       일식        0
1370          1370       46      옛날왕돈까스      255          4       일식        0
...            ...      ...         ...      ...        ...      ...      ...
134131      134131     4517     납작군만두*장     1513          8       한식        0
134135      134135     4517    비엔나구이*케찹     2340         12       한식        0
134136      134136     4517       김말이강정      503         13       한식        0
134139      134139     4517     오지치즈후라이     1987         16       양식        0
134151      134151     4517    청포묵*양념간장     1991         28       한식        0

[44532 rows x 7 columns]

In [ ]:
lst46 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "까스":
    lst46.append(i)

data.loc[lst46,"property"] = "튀김류"

In [ ]:
lst47 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "가스":
    lst47.append(i)

data.loc[lst47,"property"] = "튀김류"

In [ ]:
lst48 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-5:] == "돈까스정식":
    lst48.append(i)

data.loc[lst48,"property"] = "튀김류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id        menu  menu_id  timestamp category property
855            855       28  쇠고기무국(빨갛게)      215         20       한식        0
2203          2203       74      자기계발의날      296         12       양식        0
2254          2254       76       사과잼쿠키      300          3       양식        0
2262          2262       76      자기개발의날      301         11       양식        0
2297          2297       77       허니브레드      306         16       양식        0
...            ...      ...         ...      ...        ...      ...      ...
134131      134131     4517     납작군만두*장     1513          8       한식        0
134135      134135     4517    비엔나구이*케찹     2340         12       한식        0
134136      134136     4517       김말이강정      503         13       한식        0
134139      134139     4517     오지치즈후라이     1987         16       양식        0
134151      134151     4517    청포묵*양념간장     1991         28       한식        0

[43932 rows x 7 columns]

In [ ]:
lst49 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "브레드":
    lst49.append(i)

data.loc[lst49,"property"] = "빵류"

In [ ]:
lst50 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "후라이":
    lst50.append(i)

data.loc[lst50,"property"] = "튀김류"

In [ ]:
lst51 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "쿠키":
    lst51.append(i)

data.loc[lst51,"property"] = "디저트류"

In [ ]:
lst52 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "의날":
    lst52.append(i)

data.loc[lst52,"property"] = "패스트푸드류"

In [ ]:
lst53 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-5:] == "(빨갛게)":
    lst53.append(i)

data.loc[lst53,"property"] = "국류"

In [ ]:
lst54 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "*장":
    lst54.append(i)

data.loc[lst54,"property"] = "튀김류"

In [ ]:
lst55 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "케찹":
    lst55.append(i)

data.loc[lst55,"property"] = "구이류"

In [ ]:
lst56 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "강정":
    lst56.append(i)

data.loc[lst56,"property"] = "튀김류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id      menu  menu_id  timestamp category property
2297          2297       77     허니브레드      306         16       양식        0
2457          2457       82     허니브레드      306         26       양식        0
2511          2511       84      홍루이젠      318         20       양식        0
2643          2643       89    대만샌드위치      330          4       양식        0
2680          2680       90      참치새드      331         11       양식        0
...            ...      ...       ...      ...        ...      ...      ...
134111      134111     4516   깻잎쌈*생강채     1483         18       한식        0
134115      134115     4516      양상추,     1508         22       한식        0
134120      134120     4516      가지나물     1446         27       한식        0
134124      134124     4517   메추리알떡볶이     1983          1       한식        0
134151      134151     4517  청포묵*양념간장     1991         28       한식        0

[42063 rows x 7 columns]

In [ ]:
lst57 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "브레드":
    lst57.append(i)

data.loc[lst57,"property"] = "빵류"

In [ ]:
lst58 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "홍루이젠":
    lst58.append(i)

data.loc[lst58,"property"] = "빵류"

In [ ]:
lst59 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "샌드위치":
    lst59.append(i)

data.loc[lst59,"property"] = "빵류"

In [ ]:
lst60 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "새드":
    lst60.append(i)

data.loc[lst60,"property"] = "빵류"

In [ ]:
lst61 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "생강채":
    lst61.append(i)

data.loc[lst61,"property"] = "샐러드류"

In [ ]:
lst62 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "양상추,":
    lst62.append(i)

data.loc[lst62,"property"] = "샐러드류"

In [ ]:
lst63 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "나물":
    lst63.append(i)

data.loc[lst63,"property"] = "무침류"

In [ ]:
lst64 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "떡볶이":
    lst64.append(i)

data.loc[lst64,"property"] = "패스트푸드류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id        menu  menu_id  timestamp category property
2981          2981      100        미소시루      346         17       한식        0
3013          3013      101        장각닭죽      351         19       한식        0
3026          3026      102        백종원의      362          3       양식        0
3054          3054      103  쌀국수(숙주들어감)      380          1       양식        0
3071          3071      103         브리또      369         19       양식        0
...            ...      ...         ...      ...        ...      ...      ...
134099      134099     4516     두부까스*소스     1980          6       일식        0
134102      134102     4516      수제오미산적     1981          9       한식        0
134103      134103     4516      청경채겉절이     1506         10       한식        0
134105      134105     4516        오이생채     1429         12       한식        0
134151      134151     4517    청포묵*양념간장     1991         28       한식        0

[39039 rows x 7 columns]

In [ ]:
lst65 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "미소시루":
    lst65.append(i)

data.loc[lst65,"property"] = "국류"

In [ ]:
lst66 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "닭죽":
    lst66.append(i)

data.loc[lst66,"property"] = "국류"

In [ ]:
lst67 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "백종원의":
    lst67.append(i)

data.loc[lst67,"property"] = "고기류"

In [ ]:
lst68 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "브리또":
    lst68.append(i)

data.loc[lst68,"property"] = "패스트푸드류"

In [ ]:
lst69 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "라면":
    lst69.append(i)

data.loc[lst69,"property"] = "면류"

In [ ]:
lst70 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "산적":
    lst70.append(i)

data.loc[lst70,"property"] = "구이류"

In [ ]:
lst71 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "겉절이":
    lst71.append(i)

data.loc[lst71,"property"] = "샐러드류"

In [ ]:
lst72 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "생채":
    lst72.append(i)

data.loc[lst72,"property"] = "샐러드류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id        menu  menu_id  timestamp category property
3054          3054      103  쌀국수(숙주들어감)      380          1       양식        0
3092          3092      104       냉메밀소바      387         10       일식        0
3094          3094      104       연유후레쉬      389         12       양식        0
3159          3159      106       마늘바게트      403         17       양식        0
3183          3183      107          머핀      409         12       양식        0
...            ...      ...         ...      ...        ...      ...      ...
134090      134090     4515      두부양념구이     2330         27       한식        0
134095      134095     4516        생깻잎지     2292          2       한식        0
134096      134096     4516        어묵잡채     1289          3       한식        0
134099      134099     4516     두부까스*소스     1980          6       일식        0
134151      134151     4517    청포묵*양념간장     1991         28       한식        0

[38214 rows x 7 columns]

In [ ]:
lst73 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "스콘":
    lst73.append(i)

data.loc[lst73,"property"] = "디저트류"

In [ ]:
lst74 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "소바":
    lst74.append(i)

data.loc[lst74,"property"] = "면류"

In [ ]:
lst75 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "후레쉬":
    lst75.append(i)

data.loc[lst75,"property"] = "디저트류"

In [ ]:
lst76 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "바게트":
    lst76.append(i)

data.loc[lst76,"property"] = "빵류"

In [ ]:
lst77 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "머핀":
    lst77.append(i)

data.loc[lst77,"property"] = "빵류"

In [ ]:
lst78 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "쌈장":
    lst78.append(i)

data.loc[lst78,"property"] = "샐러드류"

In [ ]:
lst79 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "잎지":
    lst79.append(i)

data.loc[lst79,"property"] = "샐러드류"

In [ ]:
lst80 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "잡채":
    lst80.append(i)

data.loc[lst80,"property"] = "면류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id        menu  menu_id  timestamp category property
3054          3054      103  쌀국수(숙주들어감)      380          1       양식        0
3223          3223      108        우동국물      424         21       일식        0
3224          3224      108      베이컨맥모닝      425         22       양식        0
3226          3226      108       나박물김치      426         24       한식        0
3230          3230      108       크로크무슈      430         28       양식        0
...            ...      ...         ...      ...        ...      ...      ...
134081      134081     4515    수제두부동그랑땡     1501         18       한식        0
134083      134083     4515    도토리묵*양념장     1466         20       한식        0
134090      134090     4515      두부양념구이     2330         27       한식        0
134099      134099     4516     두부까스*소스     1980          6       일식        0
134151      134151     4517    청포묵*양념간장     1991         28       한식        0

[36498 rows x 7 columns]

In [ ]:
lst81 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "맥모닝":
    lst81.append(i)

data.loc[lst81,"property"] = "패스트푸드류"

In [ ]:
lst82 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "김치":
    lst82.append(i)

data.loc[lst82,"property"] = "무침류"

In [ ]:
lst83 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "동그랑땡":
    lst83.append(i)

data.loc[lst83,"property"] = "전류"

In [ ]:
lst84 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "양념장":
    lst84.append(i)

data.loc[lst84,"property"] = "샐러드류"

In [ ]:
lst85 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "양념간장":
    lst85.append(i)

data.loc[lst85,"property"] = "샐러드류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

,Unnamed: 0,user_id,menu,menu_id,timestamp,category,property
3054,3054,103,쌀국수(숙주들어감),380,1,양식,0
3223,3223,108,우동국물,424,21,일식,0
3230,3230,108,크로크무슈,430,28,양식,0
3233,3233,109,우동국물,424,2,일식,0
3237,3237,109,미니햄버거,448,6,양식,0
...,...,...,...,...,...,...,...
134075,134075,4515,상추튀김(모둠튀김*양념장),1500,12,한식,0
134077,134077,4515,깻잎무쌈,1977,14,한식,0
134078,134078,4515,고구마치즈구이,675,15,한식,0
134090,134090,4515,두부양념구이,2330,27,한식,0
134099,134099,4516,두부까스*소스,1980,6,일식,0

In [ ]:
lst86 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "우동국물":
    lst86.append(i)

data.loc[lst86,"property"] = "면류"

In [ ]:
lst87 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "버거":
    lst87.append(i)

data.loc[lst87,"property"] = "패스트푸드류"

In [ ]:
lst88 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "소떡소떡":
    lst88.append(i)

data.loc[lst88,"property"] = "패스트푸드류"

In [ ]:
lst89 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-5:] == "크로크무슈":
    lst89.append(i)

data.loc[lst89,"property"] = "디저트류"

In [ ]:
lst90 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "부꾸미":
    lst90.append(i)

data.loc[lst90,"property"] = "전류"

In [ ]:
lst91 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "쌀국수":
    lst91.append(i)

data.loc[lst91,"property"] = "면류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

,Unnamed: 0,user_id,menu,menu_id,timestamp,category,property
3243,3243,109,시나몬페스츄리,452,12,양식,0
3283,3283,110,치즈볼,457,21,양식,0
3305,3305,111,시나몬페스츄리,452,14,양식,0
3317,3317,111,페스츄리,475,25,양식,0
3342,3342,112,절편,482,20,한식,0
...,...,...,...,...,...,...,...
134075,134075,4515,상추튀김(모둠튀김*양념장),1500,12,한식,0
134077,134077,4515,깻잎무쌈,1977,14,한식,0
134078,134078,4515,고구마치즈구이,675,15,한식,0
134090,134090,4515,두부양념구이,2330,27,한식,0
134099,134099,4516,두부까스*소스,1980,6,일식,0

In [ ]:
lst92 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "페스츄리":
    lst92.append(i)

data.loc[lst92,"property"] = "디저트류"

In [ ]:
lst93 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "치즈볼":
    lst93.append(i)

data.loc[lst93,"property"] = "패스트푸드류"

In [ ]:
lst94 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "치즈범벅":
    lst94.append(i)

data.loc[lst94,"property"] = "패스트푸드류"

In [ ]:
lst95 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "계란말이":
    lst95.append(i)

data.loc[lst95,"property"] = "전류"

In [ ]:
lst96 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "상추튀김":
    lst96.append(i)

data.loc[lst96,"property"] = "튀김류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id     menu  menu_id  timestamp category property
3342          3342      112       절편      482         20       한식        0
3352          3352      113   와플&생크림      495          1       양식        0
3393          3393      114      깐풍기      510         12       중식        0
3397          3397      114  컵라면&찐계란      512         16       한식        0
3417          3417      115    고르곤졸라      519          6       양식        0
...            ...      ...      ...      ...        ...      ...      ...
134058      134058     4514   더덕양념구이     1974         25       한식        0
134077      134077     4515     깻잎무쌈     1977         14       한식        0
134078      134078     4515  고구마치즈구이      675         15       한식        0
134090      134090     4515   두부양념구이     2330         27       한식        0
134099      134099     4516  두부까스*소스     1980          6       일식        0

[34368 rows x 7 columns]

In [ ]:
lst97 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "절편":
    lst97.append(i)

data.loc[lst97,"property"] = "디저트류"

In [ ]:
lst98 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:2] == "와플":
    lst98.append(i)

data.loc[lst98,"property"] = "디저트류"

In [ ]:
lst99 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "깐풍기":
    lst99.append(i)

data.loc[lst99,"property"] = "튀김류"

In [ ]:
lst100 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "컵라면":
    lst100.append(i)

data.loc[lst100,"property"] = "면류"

In [ ]:
lst101 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-5:] == "고르곤졸라":
    lst101.append(i)

data.loc[lst101,"property"] = "패스트푸드류"

In [ ]:
lst102 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "탕수":
    lst102.append(i)

data.loc[lst102,"property"] = "튀김류"

In [ ]:
lst103 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "순대찜":
    lst103.append(i)

data.loc[lst103,"property"] = "찜류"

In [ ]:
lst104 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "무쌈":
    lst104.append(i)

data.loc[lst104,"property"] = "샐러드류"

In [ ]:
lst105 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "두부까스":
    lst105.append(i)

data.loc[lst105,"property"] = "튀김류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id     menu  menu_id  timestamp category property
3453          3453      116      계발의      527         12       양식        0
3479          3479      117  베이컨에그슬럿      535          8       양식        0
3491          3491      117  고구마오븐구이      538         20       한식        0
3497          3497      117    에그타르트      532         25       양식        0
3498          3498      117     메밀전병      533         26       일식        0
...            ...      ...      ...      ...        ...      ...      ...
134009      134009     4513  시금치프리타타     1340          6       한식        0
134032      134032     4513    시래기지짐     2219         28       한식        0
134058      134058     4514   더덕양념구이     1974         25       한식        0
134078      134078     4515  고구마치즈구이      675         15       한식        0
134090      134090     4515   두부양념구이     2330         27       한식        0

[33819 rows x 7 columns]

In [ ]:
lst106 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "계발의":
    lst106.append(i)

data.loc[lst106,"property"] = "패스트푸드류"

In [ ]:
lst107 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "타르트":
    lst107.append(i)

data.loc[lst107,"property"] = "디저트류"

In [ ]:
lst108 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "전병":
    lst108.append(i)

data.loc[lst108,"property"] = "전류"

In [ ]:
lst109 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "에그슬럿":
    lst109.append(i)

data.loc[lst109,"property"] = "빵류"

In [ ]:
lst110 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "샤브샤브":
    lst110.append(i)

data.loc[lst110,"property"] = "탕류"

In [ ]:
lst111 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "절임":
    lst111.append(i)

data.loc[lst111,"property"] = "무침류"

In [ ]:
lst112 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "지짐":
    lst112.append(i)

data.loc[lst112,"property"] = "전류"

In [ ]:
lst113 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "샐러드":
    lst113.append(i)

data.loc[lst113,"property"] = "샐러드류"

In [ ]:
lst114 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "꼬지어묵":
    lst114.append(i)

data.loc[lst114,"property"] = "고기류"

In [ ]:
lst115 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "프리타타":
    lst115.append(i)

data.loc[lst115,"property"] = "샐러드류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id      menu  menu_id  timestamp category property
3491          3491      117   고구마오븐구이      538         20       한식        0
3517          3517      118   오리대패불고기      557         16       한식        0
3522          3522      118     후르츠산도      560         21       양식        0
3525          3525      118   춘권*칠리소스      561         23       중식        0
3535          3535      119        증편      567          4       한식        0
...            ...      ...       ...      ...        ...      ...      ...
133996      133996     4512  옥수수콘치즈구이     1966         23       한식        0
133999      133999     4512      타코야끼      787         25       일식        0
134058      134058     4514    더덕양념구이     1974         25       한식        0
134078      134078     4515   고구마치즈구이      675         15       한식        0
134090      134090     4515    두부양념구이     2330         27       한식        0

[29790 rows x 7 columns]

In [ ]:
lst116 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "불고기":
    lst116.append(i)

data.loc[lst116,"property"] = "고기류"

In [ ]:
lst117 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "산도":
    lst117.append(i)

data.loc[lst117,"property"] = "빵류"

In [ ]:
lst118 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:2] == "춘권":
    lst118.append(i)

data.loc[lst118,"property"] = "튀김류"

In [ ]:
lst119 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "군대리아":
    lst119.append(i)

data.loc[lst119,"property"] = "패스트푸드류"

In [ ]:
lst120 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "증편":
    lst120.append(i)

data.loc[lst120,"property"] = "디저트류"

In [ ]:
lst121 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "타코야끼":
    lst121.append(i)

data.loc[lst121,"property"] = "구이류"

In [ ]:
lst122 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "숙회":
    lst122.append(i)

data.loc[lst122,"property"] = "고기류"

In [ ]:
lst123 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "범벅":
    lst123.append(i)

data.loc[lst123,"property"] = "패스트푸드류"

In [ ]:
lst124 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "냉채":
    lst124.append(i)

data.loc[lst124,"property"] = "샐러드류"

In [ ]:
lst125 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:2] == "깐풍":
    lst125.append(i)

data.loc[lst125,"property"] = "튀김류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id         menu  menu_id  timestamp category property
3491          3491      117      고구마오븐구이      538         20       한식        0
3566          3566      120    호박고구마오븐구이      580          5       한식        0
3589          3589      120   미니쫄우동*맛살튀김      578         27       한식        0
3601          3601      121         장각백숙      592         10       한식        0
3628          3628      122          파게트      595          7       양식        0
...            ...      ...          ...      ...        ...      ...      ...
133972      133972     4511  골뱅이채소무침&실곤약     1469         28       한식        0
133996      133996     4512     옥수수콘치즈구이     1966         23       한식        0
134058      134058     4514       더덕양념구이     1974         25       한식        0
134078      134078     4515      고구마치즈구이      675         15       한식        0
134090      134090     4515       두부양념구이     2330         27       한식        0

[26004 rows x 7 columns]

In [ ]:
lst126 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "튀김":
    lst126.append(i)

data.loc[lst126,"property"] = "튀김류"

In [ ]:
lst127 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "백숙":
    lst127.append(i)

data.loc[lst127,"property"] = "고기류"

In [ ]:
lst128 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "파게트":
    lst128.append(i)

data.loc[lst128,"property"] = "디저트류"

In [ ]:
lst129 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "순대국밥":
    lst129.append(i)

data.loc[lst129,"property"] = "밥류"

In [ ]:
lst130 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:2] == "짬뽕":
    lst130.append(i)

data.loc[lst130,"property"] = "면류"

In [ ]:
lst131 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "오이선":
    lst131.append(i)

data.loc[lst131,"property"] = "샐러드류"

In [ ]:
lst132 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "골뱅이":
    lst132.append(i)

data.loc[lst132,"property"] = "무침류"

In [ ]:
lst133 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "파래김":
    lst133.append(i)

data.loc[lst133,"property"] = "샐러드류"

In [ ]:
lst134 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "피클":
    lst134.append(i)

data.loc[lst134,"property"] = "샐러드류"

In [ ]:
lst135 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "마파두부":
    lst135.append(i)

data.loc[lst135,"property"] = "볶음류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id       menu  menu_id  timestamp category property
3491          3491      117    고구마오븐구이      538         20       한식        0
3566          3566      120  호박고구마오븐구이      580          5       한식        0
3713          3713      125        닭갈비      620          1       한식        0
3730          3730      125    자반고등어구이      616         18       한식        0
3733          3733      125        유산슬      617         21       중식        0
...            ...      ...        ...      ...        ...      ...      ...
133968      133968     4511  토마토두부카프레제     1955         24       양식        0
133996      133996     4512   옥수수콘치즈구이     1966         23       한식        0
134058      134058     4514     더덕양념구이     1974         25       한식        0
134078      134078     4515    고구마치즈구이      675         15       한식        0
134090      134090     4515     두부양념구이     2330         27       한식        0

[24183 rows x 7 columns]

In [ ]:
lst136 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "유산슬":
    lst136.append(i)

data.loc[lst136,"property"] = "무침류"

In [ ]:
lst137 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "닭갈비":
    lst137.append(i)

data.loc[lst137,"property"] = "고기류"

In [ ]:
lst138 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "군만두":
    lst138.append(i)

data.loc[lst138,"property"] = "튀김류"

In [ ]:
lst139 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "함박":
    lst139.append(i)

data.loc[lst139,"property"] = "고기류"

In [ ]:
lst140 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "또띠아":
    lst140.append(i)

data.loc[lst140,"property"] = "패스트푸드류"

In [ ]:
lst141 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "깻잎쌈":
    lst141.append(i)

data.loc[lst141,"property"] = "밥류"

In [ ]:
lst142 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:6] == "브로콜리숙회":
    lst142.append(i)

data.loc[lst142,"property"] = "고기류"

In [ ]:
lst143 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "석박지":
    lst143.append(i)

data.loc[lst143,"property"] = "무침류"

In [ ]:
lst144 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "소박이":
    lst144.append(i)

data.loc[lst144,"property"] = "무침류"

In [ ]:
lst145 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "카프레제":
    lst145.append(i)

data.loc[lst145,"property"] = "샐러드류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id         menu  menu_id  timestamp category property
3491          3491      117      고구마오븐구이      538         20       한식        0
3566          3566      120    호박고구마오븐구이      580          5       한식        0
3730          3730      125      자반고등어구이      616         18       한식        0
3736          3736      125       황태양념구이      618         24       한식        0
3770          3770      126  해물까스&타르타르소스      629         28       일식        0
...            ...      ...          ...      ...        ...      ...      ...
133943      133943     4510      고등어카레구이      692         29       한식        0
133996      133996     4512     옥수수콘치즈구이     1966         23       한식        0
134058      134058     4514       더덕양념구이     1974         25       한식        0
134078      134078     4515      고구마치즈구이      675         15       한식        0
134090      134090     4515       두부양념구이     2330         27       한식        0

[22803 rows x 7 columns]

In [ ]:
lst146 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "해물까스":
    lst146.append(i)

data.loc[lst146,"property"] = "튀김류"

In [ ]:
lst147 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "생선까스":
    lst147.append(i)

data.loc[lst147,"property"] = "튀김류"

In [ ]:
lst148 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "만두":
    lst148.append(i)

data.loc[lst148,"property"] = "튀김류"

In [ ]:
lst149 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "찜닭":
    lst149.append(i)

data.loc[lst149,"property"] = "고기류"

In [ ]:
lst150 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:6] == "수제두부까스":
    lst150.append(i)

data.loc[lst150,"property"] = "튀김류"

In [ ]:
lst151 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "양념김":
    lst151.append(i)

data.loc[lst151,"property"] = "샐러드류"

In [ ]:
lst152 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "호박숙":
    lst152.append(i)

data.loc[lst152,"property"] = "국류"

In [ ]:
lst153 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "유린기":
    lst153.append(i)

data.loc[lst153,"property"] = "튀김류"

In [ ]:
lst154 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "탕평채":
    lst154.append(i)

data.loc[lst154,"property"] = "튀김류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id       menu  menu_id  timestamp category property
3491          3491      117    고구마오븐구이      538         20       한식        0
3566          3566      120  호박고구마오븐구이      580          5       한식        0
3730          3730      125    자반고등어구이      616         18       한식        0
3736          3736      125     황태양념구이      618         24       한식        0
3780          3780      127       삼치구이      632          8       한식        0
...            ...      ...        ...      ...        ...      ...      ...
133943      133943     4510    고등어카레구이      692         29       한식        0
133996      133996     4512   옥수수콘치즈구이     1966         23       한식        0
134058      134058     4514     더덕양념구이     1974         25       한식        0
134078      134078     4515    고구마치즈구이      675         15       한식        0
134090      134090     4515     두부양념구이     2330         27       한식        0

[20337 rows x 7 columns]

In [ ]:
lst155 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "탕수육":
    lst155.append(i)

data.loc[lst155,"property"] = "튀김류"

In [ ]:
lst156 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "탕수어":
    lst156.append(i)

data.loc[lst156,"property"] = "튀김류"

In [ ]:
lst157 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "퀘사디아":
    lst157.append(i)

data.loc[lst157,"property"] = "패스트푸드류"

In [ ]:
lst158 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "채소스틱":
    lst158.append(i)

data.loc[lst158,"property"] = "튀김류"

In [ ]:
lst159 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:2] == "꽁치":
    lst159.append(i)

data.loc[lst159,"property"] = "구이류"

In [ ]:
lst160 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "초장":
    lst160.append(i)

data.loc[lst160,"property"] = "고기류"

In [ ]:
lst161 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "부침개":
    lst161.append(i)

data.loc[lst161,"property"] = "전류"

In [ ]:
lst162 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "타꼬야끼":
    lst162.append(i)

data.loc[lst162,"property"] = "구이류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id       menu  menu_id  timestamp category property
3491          3491      117    고구마오븐구이      538         20       한식        0
3566          3566      120  호박고구마오븐구이      580          5       한식        0
3730          3730      125    자반고등어구이      616         18       한식        0
3736          3736      125     황태양념구이      618         24       한식        0
3780          3780      127       삼치구이      632          8       한식        0
...            ...      ...        ...      ...        ...      ...      ...
133943      133943     4510    고등어카레구이      692         29       한식        0
133996      133996     4512   옥수수콘치즈구이     1966         23       한식        0
134058      134058     4514     더덕양념구이     1974         25       한식        0
134078      134078     4515    고구마치즈구이      675         15       한식        0
134090      134090     4515     두부양념구이     2330         27       한식        0

[18282 rows x 7 columns]

In [ ]:
lst163 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "파닭":
    lst163.append(i)

data.loc[lst163,"property"] = "고기류"

In [ ]:
lst164 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:2] == "치킨":
    lst164.append(i)

data.loc[lst164,"property"] = "패스트푸드류"

In [ ]:
lst165 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "옥수수":
    lst165.append(i)

data.loc[lst165,"property"] = "찜류"

In [ ]:
lst166 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "새우까스":
    lst166.append(i)

data.loc[lst166,"property"] = "튀김류"

In [ ]:
lst167 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "밀떡볶이":
    lst167.append(i)

data.loc[lst167,"property"] = "패스트푸드류"

In [ ]:
lst168 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "바나나":
    lst168.append(i)

data.loc[lst168,"property"] = "샐러드류"

In [ ]:
lst169 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "라볶이":
    lst169.append(i)

data.loc[lst169,"property"] = "패스트푸드류"

In [ ]:
lst170 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "채소탕수":
    lst170.append(i)

data.loc[lst170,"property"] = "튀김류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id       menu  menu_id  timestamp category property
3491          3491      117    고구마오븐구이      538         20       한식        0
3566          3566      120  호박고구마오븐구이      580          5       한식        0
3730          3730      125    자반고등어구이      616         18       한식        0
3736          3736      125     황태양념구이      618         24       한식        0
3780          3780      127       삼치구이      632          8       한식        0
...            ...      ...        ...      ...        ...      ...      ...
133943      133943     4510    고등어카레구이      692         29       한식        0
133996      133996     4512   옥수수콘치즈구이     1966         23       한식        0
134058      134058     4514     더덕양념구이     1974         25       한식        0
134078      134078     4515    고구마치즈구이      675         15       한식        0
134090      134090     4515     두부양념구이     2330         27       한식        0

[17370 rows x 7 columns]

In [ ]:
lst171 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "떡갈비":
    lst171.append(i)

data.loc[lst171,"property"] = "고기류"

In [ ]:
lst172 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "파스타":
    lst172.append(i)

data.loc[lst172,"property"] = "면류"

In [ ]:
lst173 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "수육":
    lst173.append(i)

data.loc[lst173,"property"] = "고기류"

In [ ]:
lst174 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:5] == "새우또띠아":
    lst174.append(i)

data.loc[lst174,"property"] = "패스트푸드류"

In [ ]:
lst175 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "고로케":
    lst175.append(i)

data.loc[lst175,"property"] = "튀김류"

In [ ]:
lst176 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "고추장떡":
    lst176.append(i)

data.loc[lst176,"property"] = "패스트푸드류"

In [ ]:
lst177 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:5] == "오징어튀김":
    lst177.append(i)

data.loc[lst177,"property"] = "튀김류"

In [ ]:
lst178 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "콘치즈":
    lst178.append(i)

data.loc[lst178,"property"] = "샐러드류"

In [ ]:
lst179 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "빈대떡":
    lst179.append(i)

data.loc[lst179,"property"] = "전류"

In [ ]:
lst180 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "새우튀김":
    lst180.append(i)

data.loc[lst180,"property"] = "튀김류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id       menu  menu_id  timestamp category property
3491          3491      117    고구마오븐구이      538         20       한식        0
3566          3566      120  호박고구마오븐구이      580          5       한식        0
3730          3730      125    자반고등어구이      616         18       한식        0
3736          3736      125     황태양념구이      618         24       한식        0
3780          3780      127       삼치구이      632          8       한식        0
...            ...      ...        ...      ...        ...      ...      ...
133943      133943     4510    고등어카레구이      692         29       한식        0
133996      133996     4512   옥수수콘치즈구이     1966         23       한식        0
134058      134058     4514     더덕양념구이     1974         25       한식        0
134078      134078     4515    고구마치즈구이      675         15       한식        0
134090      134090     4515     두부양념구이     2330         27       한식        0

[16446 rows x 7 columns]

In [ ]:
lst181 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "치킨":
    lst181.append(i)

data.loc[lst181,"property"] = "패스트푸드류"

In [ ]:
lst182 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "류산슬":
    lst182.append(i)

data.loc[lst182,"property"] = "무침류"

In [ ]:
lst183 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "고등어":
    lst183.append(i)

data.loc[lst183,"property"] = "고기류"

In [ ]:
lst184 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:2] == "팝콘":
    lst184.append(i)

data.loc[lst184,"property"] = "패스트푸드류"

In [ ]:
lst185 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "메밀전병":
    lst185.append(i)

data.loc[lst185,"property"] = "전류"

In [ ]:
lst186 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "만두찜":
    lst186.append(i)

data.loc[lst186,"property"] = "찜류"

In [ ]:
lst187 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:5] == "두부커틀렛":
    lst187.append(i)

data.loc[lst187,"property"] = "고기류"

In [ ]:
lst188 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "군만두":
    lst188.append(i)

data.loc[lst188,"property"] = "튀김류"

In [ ]:
lst189 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "스크램블":
    lst189.append(i)

data.loc[lst189,"property"] = "볶음류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id       menu  menu_id  timestamp category property
3491          3491      117    고구마오븐구이      538         20       한식        0
3566          3566      120  호박고구마오븐구이      580          5       한식        0
3730          3730      125    자반고등어구이      616         18       한식        0
3736          3736      125     황태양념구이      618         24       한식        0
3780          3780      127       삼치구이      632          8       한식        0
...            ...      ...        ...      ...        ...      ...      ...
133904      133904     4509       두부구이     1283         20       한식        0
133996      133996     4512   옥수수콘치즈구이     1966         23       한식        0
134058      134058     4514     더덕양념구이     1974         25       한식        0
134078      134078     4515    고구마치즈구이      675         15       한식        0
134090      134090     4515     두부양념구이     2330         27       한식        0

[15126 rows x 7 columns]

In [ ]:
lst190 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-1:] == "면":
    lst190.append(i)

data.loc[lst190,"property"] = "면류"

In [ ]:
lst191 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "감자":
    lst191.append(i)

data.loc[lst191,"property"] = "튀김류"

In [ ]:
lst192 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "두루치기":
    lst192.append(i)

data.loc[lst192,"property"] = "고기류"

In [ ]:
lst193 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "모둠튀김":
    lst193.append(i)

data.loc[lst193,"property"] = "튀김류"

In [ ]:
lst194 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "샐러드":
    lst194.append(i)

data.loc[lst194,"property"] = "샐러드류"

In [ ]:
lst195 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "장아찌":
    lst195.append(i)

data.loc[lst195,"property"] = "무침류"

In [ ]:
lst196 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "쉬림프":
    lst196.append(i)

data.loc[lst196,"property"] = "고기류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id       menu  menu_id  timestamp category property
3491          3491      117    고구마오븐구이      538         20       한식        0
3566          3566      120  호박고구마오븐구이      580          5       한식        0
3730          3730      125    자반고등어구이      616         18       한식        0
3736          3736      125     황태양념구이      618         24       한식        0
3780          3780      127       삼치구이      632          8       한식        0
...            ...      ...        ...      ...        ...      ...      ...
133904      133904     4509       두부구이     1283         20       한식        0
133996      133996     4512   옥수수콘치즈구이     1966         23       한식        0
134058      134058     4514     더덕양념구이     1974         25       한식        0
134078      134078     4515    고구마치즈구이      675         15       한식        0
134090      134090     4515     두부양념구이     2330         27       한식        0

[14745 rows x 7 columns]

In [ ]:
lst197 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "구이":
    lst197.append(i)

data.loc[lst197,"property"] = "구이류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id        menu  menu_id  timestamp category property
5305          5305      178  후르츠탕수육(황도)      812         20       중식        0
5416          5416      182  모듬장조림(소고기)      821         13       한식        0
5552          5552      187       돈삼겹보쌈      830          3       한식        0
5591          5591      188   모듬튀김*칠리소스      833         12       양식        0
5622          5622      189  수제돈까스*칠리소스      835         13       일식        0
...            ...      ...         ...      ...        ...      ...      ...
133451      133451     4494         김자반     2141         16       한식        0
133469      133469     4495      삼치데리야끼     1365          5       일식        0
133493      133493     4495        무쌈깻잎     1363         28       한식        0
133494      133494     4495     두부구이*양념     2253         29       한식        0
133506      133506     4496  꿔바로우탕수육*소스     1367         11       중식        0

[10491 rows x 7 columns]

In [ ]:
lst198 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:6] == "후르츠탕수육":
    lst198.append(i)

data.loc[lst198,"property"] = "튀김류"

In [ ]:
lst199 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:5] == "모듬장조림":
    lst199.append(i)

data.loc[lst199,"property"] = "조림류"

In [ ]:
lst200 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "보쌈":
    lst200.append(i)

data.loc[lst200,"property"] = "고기류"

In [ ]:
lst201 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "칠리소스":
    lst201.append(i)

data.loc[lst201,"property"] = "튀김류"

In [ ]:
lst202 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "무쌈말이":
    lst202.append(i)

data.loc[lst202,"property"] = "샐러드류"

In [ ]:
lst203 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:2] == "무쌈":
    lst203.append(i)

data.loc[lst203,"property"] = "샐러드류"

In [ ]:
lst204 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "두부구이":
    lst204.append(i)

data.loc[lst204,"property"] = "구이류"

In [ ]:
lst205 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:6] == "삼치데리야끼":
    lst205.append(i)

data.loc[lst205,"property"] = "구이류"

In [ ]:
lst206 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:7] == "꿔바로우탕수육":
    lst206.append(i)

data.loc[lst206,"property"] = "튀김류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id        menu  menu_id  timestamp category property
5949          5949      200     수원왕갈비통닭      845         16       한식        0
5961          5961      200           *      844         27       양식        0
6020          6020      202           *      844         26       양식        0
6039          6039      203        크림새우      854         16       양식        0
6082          6082      204           *      844         28       양식        0
...            ...      ...         ...      ...        ...      ...      ...
133422      133422     4493       간장계란장     1347         17       한식        0
133428      133428     4493  쇠고기:국산,호주)     1349         23       양식        0
133430      133430     4493      봄동전*양념     1851         25       한식        0
133450      133450     4494         단무지     1146         15       한식        0
133451      133451     4494         김자반     2141         16       한식        0

[10062 rows x 7 columns]

In [ ]:
lst207 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-1:] == "*":
    lst207.append(i)

data.loc[lst207,"property"] = "회류"

In [ ]:
lst208 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "통닭":
    lst208.append(i)

data.loc[lst208,"property"] = "패스트푸드류"

In [ ]:
lst209 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "크림새우":
    lst209.append(i)

data.loc[lst209,"property"] = "튀김류"

In [ ]:
lst210 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "쇠고기":
    lst210.append(i)

data.loc[lst210,"property"] = "고기류"

In [ ]:
lst211 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "오렌지":
    lst211.append(i)

data.loc[lst211,"property"] = "디저트류"

In [ ]:
lst212 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "단무지":
    lst212.append(i)

data.loc[lst212,"property"] = "샐러드류"

In [ ]:
lst213 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "김자반":
    lst213.append(i)

data.loc[lst213,"property"] = "샐러드류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id         menu  menu_id  timestamp category property
6114          6114      206        두부커틀릿      858          1       일식        0
6132          6132      206    삼치튀김*데리소스      861         19       양식        0
6244          6244      210      대패삼겹*파채      869         11       한식        0
6457          6457      217      대패삼겹*파채      869         17       한식        0
6655          6655      224     수제돈가스&소스      891          9       일식        0
...            ...      ...          ...      ...        ...      ...      ...
133328      133328     4490      매쉬드포테이토     1298         12       양식        0
133348      133348     4491       두부계란부침     1115          3       한식        0
133383      133383     4492  연두부*참깨드레싱소스     2242          8       한식        0
133422      133422     4493        간장계란장     1347         17       한식        0
133430      133430     4493       봄동전*양념     1851         25       한식        0

[8991 rows x 7 columns]

In [ ]:
lst214 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "커틀렛":
    lst214.append(i)

data.loc[lst214,"property"] = "튀김류"

In [ ]:
lst215 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "삼치튀김":
    lst215.append(i)

data.loc[lst215,"property"] = "튀김류"

In [ ]:
lst216 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "대패삼겹":
    lst216.append(i)

data.loc[lst216,"property"] = "고기류"

In [ ]:
lst217 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:5] == "수제돈가스":
    lst217.append(i)

data.loc[lst217,"property"] = "튀김류"

In [ ]:
lst218 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "매쉬드":
    lst218.append(i)

data.loc[lst218,"property"] = "샐러드류"

In [ ]:
lst219 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "부침":
    lst219.append(i)

data.loc[lst219,"property"] = "부침류"

In [ ]:
lst220 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "연두부":
    lst220.append(i)

data.loc[lst220,"property"] = "샐러드류"

In [ ]:
lst221 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "계란장":
    lst221.append(i)

data.loc[lst221,"property"] = "조림류"

In [ ]:
lst222 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "봄동전":
    lst222.append(i)

data.loc[lst222,"property"] = "전류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id     menu  menu_id  timestamp category property
6114          6114      206    두부커틀릿      858          1       일식        0
6676          6676      225  멘보샤*칠리S      895          1       중식        0
6703          6703      225      동파육      894         27       중식        0
6710          6710      226   생야채*쌈짱      903          5       한식        0
6784          6784      228     고추짜장      913         18       한식        0
...            ...      ...      ...      ...        ...      ...      ...
133174      133174     4485      온두부     1744          6       한식        0
133216      133216     4486   콩나물겨자채     1085         18       한식        0
133222      133222     4486      양장피     1645         24       중식        0
133244      133244     4487    두부커틀릿      858         16       일식        0
133305      133305     4489       딤섬     1015         19       중식        0

[8574 rows x 7 columns]

In [ ]:
lst223 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "커틀릿":
    lst223.append(i)

data.loc[lst223,"property"] = "튀김류"

In [ ]:
lst224 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "동파육":
    lst224.append(i)

data.loc[lst224,"property"] = "고기류"

In [ ]:
lst225 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "멘보샤":
    lst225.append(i)

data.loc[lst225,"property"] = "튀김류"

In [ ]:
lst226 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "생야채":
    lst226.append(i)

data.loc[lst226,"property"] = "샐러드류"

In [ ]:
lst227 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "짜장":
    lst227.append(i)

data.loc[lst227,"property"] = "면류"

In [ ]:
lst228 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "온두부":
    lst228.append(i)

data.loc[lst228,"property"] = "샐러드류"

In [ ]:
lst229 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "겨자채":
    lst229.append(i)

data.loc[lst229,"property"] = "샐러드류"

In [ ]:
lst230 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "양장피":
    lst230.append(i)

data.loc[lst230,"property"] = "무침류"

In [ ]:
lst231 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "딤섬":
    lst231.append(i)

data.loc[lst231,"property"] = "튀김류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id       menu  menu_id  timestamp category property
6801          6801      229      *도시락김      925          6       한식        0
6804          6804      229   물만두탕수*소스      926          9       중식        0
6824          6824      230   고구마까스*소스      930          1       일식        0
6886          6886      232       깐쇼새우      937          3       양식        0
6914          6914      233      해물누룽지      942          1       한식        0
...            ...      ...        ...      ...        ...      ...      ...
132721      132721     4469        떡꼬지     1303         25       한식        0
132810      132810     4472  상추쌈/고추/마늘     1832         25       한식        0
132852      132852     4474    신김치도토리묵     1287          9       한식        0
133049      133049     4480       모둠과일     1213         28       양식        0
133168      133168     4484       또띠아칩     1162         29       양식        0

[7941 rows x 7 columns]

In [ ]:
lst232 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "도시락김":
    lst232.append(i)

data.loc[lst232,"property"] = "밥류"

In [ ]:
lst233 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:5] == "물만두탕수":
    lst233.append(i)

data.loc[lst233,"property"] = "튀김류"

In [ ]:
lst234 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:5] == "고구마까스":
    lst234.append(i)

data.loc[lst234,"property"] = "튀김류"

In [ ]:
lst235 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:2] == "깐쇼":
    lst235.append(i)

data.loc[lst235,"property"] = "튀김류"

In [ ]:
lst236 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "쌈추전":
    lst236.append(i)

data.loc[lst236,"property"] = "전류"

In [ ]:
lst237 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "떡꼬지":
    lst237.append(i)

data.loc[lst237,"property"] = "튀김류"

In [ ]:
lst238 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "상추쌈":
    lst238.append(i)

data.loc[lst238,"property"] = "샐러드류"

In [ ]:
lst239 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-1:] == "묵":
    lst239.append(i)

data.loc[lst239,"property"] = "샐러드류"

In [ ]:
lst240 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "과일":
    lst240.append(i)

data.loc[lst240,"property"] = "샐러드류"

In [ ]:
lst241 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "또띠아":
    lst241.append(i)

data.loc[lst241,"property"] = "튀김류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id         menu  menu_id  timestamp category property
6914          6914      233        해물누룽지      942          1       한식        0
6954          6954      234     등심찹쌀꿔바로우      955         11       중식        0
7097          7097      239  삼치구이*데리야끼소스      988          4       한식        0
7131          7131      240      돈까스김치나베      993          8       일식        0
7177          7177      241         자장소스      997         23       중식        0
...            ...      ...          ...      ...        ...      ...      ...
132396      132396     4458     가래떡구이*조청     1821         24       한식        0
132508      132508     4462          자반김     2188         19       한식        0
132533      132533     4463          구이김     2148         14       한식        0
132580      132580     4465     사과고구마그라탱     1820          2       양식        0
132666      132666     4467          떡밤초     1809         29       한식        0

[7701 rows x 7 columns]

In [ ]:
lst242 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "누룽지":
    lst242.append(i)

data.loc[lst242,"property"] = "밥류"

In [ ]:
lst243 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "꿔바로우":
    lst243.append(i)

data.loc[lst243,"property"] = "튀김류"

In [ ]:
lst244 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "삼치구이":
    lst244.append(i)

data.loc[lst244,"property"] = "구이류"

In [ ]:
lst245 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "돈까스":
    lst245.append(i)

data.loc[lst245,"property"] = "튀김류"

In [ ]:
lst246 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:2] == "자장":
    lst246.append(i)

data.loc[lst246,"property"] = "면류"

In [ ]:
lst247 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:5] == "가래떡구이":
    lst247.append(i)

data.loc[lst247,"property"] = "구이류"

In [ ]:
lst248 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "자반김":
    lst248.append(i)

data.loc[lst248,"property"] = "샐러드류"

In [ ]:
lst249 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "구이김":
    lst249.append(i)

data.loc[lst249,"property"] = "샐러드류"

In [ ]:
lst250 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "그라탱":
    lst250.append(i)

data.loc[lst250,"property"] = "밥류"

In [ ]:
lst251 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "떡밤초":
    lst251.append(i)

data.loc[lst251,"property"] = "디저트류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id         menu  menu_id  timestamp category property
7211          7211      242           날＞     1005         27       양식        0
7295          7295      245  장어강정*데리야끼소스     1033         22       일식        0
7317          7317      246  빌소세지구이*구운채소     1038         14       한식        0
7379          7379      248          코코뱅     1052         16       양식        0
7413          7413      249       알리오올리오     1060         20       양식        0
...            ...      ...          ...      ...        ...      ...      ...
132189      132189     4451   생선커틀릿*탈탈소스     1256         24       일식        0
132192      132192     4451         구운채소     1182         27       한식        0
132300      132300     4455     두부오꼬노미야끼     1203         17       일식        0
132304      132304     4455        모듬소세지     1290         21       양식        0
132324      132324     4456         구운채소     1182         12       한식        0

[7431 rows x 7 columns]

In [ ]:
lst252 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "날＞":
    lst252.append(i)

data.loc[lst252,"property"] = "회류"

In [ ]:
lst253 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "장어강정":
    lst253.append(i)

data.loc[lst253,"property"] = "튀김류"

In [ ]:
lst254 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:6] == "빌소세지구이":
    lst254.append(i)

data.loc[lst254,"property"] = "구이류"

In [ ]:
lst255 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "코코뱅":
    lst255.append(i)

data.loc[lst255,"property"] = "디저트류"

In [ ]:
lst256 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "알리오":
    lst256.append(i)

data.loc[lst256,"property"] = "면류"

In [ ]:
lst257 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "구운채소":
    lst257.append(i)

data.loc[lst257,"property"] = "구이류"

In [ ]:
lst258 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:6] == "두부계란부침":
    lst258.append(i)

data.loc[lst258,"property"] = "전류"

In [ ]:
lst259 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "노미야끼":
    lst259.append(i)

data.loc[lst259,"property"] = "전류"

In [ ]:
lst260 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "소세지":
    lst260.append(i)

data.loc[lst260,"property"] = "고기류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id        menu  menu_id  timestamp category property
7433          7433      250      마파두부소스     1063          9       중식        0
7467          7467      251        군고구마     1071         13       한식        0
7487          7487      252        군고구마     1071          3       한식        0
7492          7492      252        야채스틱     1078          8       한식        0
7504          7504      252          찜)     1082         20       한식        0
...            ...      ...         ...      ...        ...      ...      ...
131782      131782     4437         모둠쌈     1798         29       한식        0
131898      131898     4441  생선커틀릿*탈탈소스     1256         27       일식        0
132075      132075     4447         콩자반     2160         27       한식        0
132148      132148     4450       새우살죽>     2216         12       한식        0
132189      132189     4451  생선커틀릿*탈탈소스     1256         24       일식        0

[7215 rows x 7 columns]

In [ ]:
lst261 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:2] == "마파":
    lst261.append(i)

data.loc[lst261,"property"] = "볶음류"

In [ ]:
lst262 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "군고구마":
    lst262.append(i)

data.loc[lst262,"property"] = "디저트류"

In [ ]:
lst263 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "스틱":
    lst263.append(i)

data.loc[lst263,"property"] = "튀김류"

In [ ]:
lst264 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:1] == "찜":
    lst264.append(i)

data.loc[lst264,"property"] = "찜류"

In [ ]:
lst265 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "모둠쌈":
    lst265.append(i)

data.loc[lst265,"property"] = "샐러드류"

In [ ]:
lst266 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:5] == "생선커틀릿":
    lst266.append(i)

data.loc[lst266,"property"] = "튀김류"

In [ ]:
lst267 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "콩자반":
    lst267.append(i)

data.loc[lst267,"property"] = "무침류"

In [ ]:
lst268 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "새우살죽":
    lst268.append(i)

data.loc[lst268,"property"] = "국류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id       menu  menu_id  timestamp category property
7594          7594      255       조각사과     1098         20       한식        0
7600          7600      255     계란야채말이     1099         26       한식        0
7644          7644      257      모듬양채쌈     1109         10       한식        0
7687          7687      258         락교     1118         23       일식        0
7740          7740      260  해물가스*탈탈소스     1126         16       일식        0
...            ...      ...        ...      ...        ...      ...      ...
131170      131170     4417    메쉬드포테이토     1189          8       양식        0
131409      131409     4425   브로컬리들깨소스     2189         10       양식        0
131420      131420     4425    오징어브로컬리     1210         21       한식        0
131772      131772     4437    꽃빵튀김*연유     1247         19       중식        0
131777      131777     4437      마늘바게뜨     1248         24       일식        0

[6822 rows x 7 columns]

In [ ]:
lst269 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "사과":
    lst269.append(i)

data.loc[lst269,"property"] = "디저트류"

In [ ]:
lst270 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "말이":
    lst270.append(i)

data.loc[lst270,"property"] = "전류"

In [ ]:
lst271 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-1:] == "쌈":
    lst271.append(i)

data.loc[lst271,"property"] = "샐러드류"

In [ ]:
lst272 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "락교":
    lst272.append(i)

data.loc[lst272,"property"] = "샐러드류"

In [ ]:
lst273 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "해물가스":
    lst273.append(i)

data.loc[lst273,"property"] = "튀김류"

In [ ]:
lst274 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "메쉬드":
    lst274.append(i)

data.loc[lst274,"property"] = "샐러드류"

In [ ]:
lst275 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "브로컬리":
    lst275.append(i)

data.loc[lst275,"property"] = "샐러드류"

In [ ]:
lst276 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-4:] == "브로컬리":
    lst276.append(i)

data.loc[lst276,"property"] = "샐러드류"

In [ ]:
lst277 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "꽃빵튀김":
    lst277.append(i)

data.loc[lst277,"property"] = "튀김류"

In [ ]:
lst278 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "바게뜨":
    lst278.append(i)

data.loc[lst278,"property"] = "디저트류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id       menu  menu_id  timestamp category property
7824          7824      263     찐감자/수박     1143         11       한식        0
7861          7861      264   마늘바게뜨/음료     1144         17       일식        0
7874          7874      265  오이피클/절인고추     1153          1       양식        0
7883          7883      265      찹쌀도너츠     1156         10       양식        0
7926          7926      266        요플레     1158         22       양식        0
...            ...      ...        ...      ...        ...      ...      ...
130893      130893     4407      찹쌀도너츠     1156         27       양식        0
130930      130930     4409    *타르타르소스     1760          5       일식        0
131050      131050     4413     핫도그/음료     1176          6       양식        0
131069      131069     4413    녹두전(김치)     1178         24       한식        0
131101      131101     4414      호빵/식혜     1179         27       한식        0

[6549 rows x 7 columns]

In [ ]:
lst279 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "수박":
    lst279.append(i)

data.loc[lst279,"property"] = "디저트류"

In [ ]:
lst280 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:5] == "마늘바게뜨":
    lst280.append(i)

data.loc[lst280,"property"] = "디저트류"

In [ ]:
lst281 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "오이피클":
    lst281.append(i)

data.loc[lst281,"property"] = "샐러드류"

In [ ]:
lst282 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "도너츠":
    lst282.append(i)

data.loc[lst282,"property"] = "빵류"

In [ ]:
lst283 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "요플레":
    lst283.append(i)

data.loc[lst283,"property"] = "디저트류"

In [ ]:
lst284 = []

for i, j in enumerate(data["menu"]):
  if str(j)[-6:] == "타르타르소스":
    lst284.append(i)

data.loc[lst284,"property"] = "튀김류"

In [ ]:
lst285 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "핫도그":
    lst285.append(i)

data.loc[lst285,"property"] = "패스트푸드류"

In [ ]:
lst286 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "녹두전":
    lst286.append(i)

data.loc[lst286,"property"] = "전류"

In [ ]:
lst287 = []

for i, j in enumerate(data["menu"]):
  if str(j)[:2] == "호빵":
    lst287.append(i)

data.loc[lst287,"property"] = "디저트류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

,Unnamed: 0,user_id,menu,menu_id,timestamp,category,property
11492,11492,387,목살데리야끼,1538,3,일식,0
11588,11588,390,목살데리야끼,1538,9,일식,0
11929,11929,401,언양식불고기*양파채,1565,22,한식,0
11935,11935,401,스위트칠리미트볼,1566,28,양식,0
12028,12028,405,훈제오리(마늘만),1570,4,한식,0
...,...,...,...,...,...,...,...
122820,122820,4136,오리주물럭,1684,13,한식,0
122823,122823,4136,수제돈까스*소스,1709,16,일식,0
122882,122882,4138,치즈불닭,1714,15,양식,0
122919,122919,4139,장각허브오븐구이*청양마요소스,1719,22,양식,0
122932,122932,4140,바베큐폭립,1654,5,양식,0

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:2] == "목살":
    lst.append(i)

data.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:6] == "언양식불고기":
    lst.append(i)

data.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "미트볼":
    lst.append(i)

data.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "훈제오리":
    lst.append(i)

data.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "주물럭":
    lst.append(i)

data.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:5] == "수제돈까스":
    lst.append(i)

data.loc[lst,"property"] = "튀김류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "불닭":
    lst.append(i)

data.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:8] == "장각허브오븐구이":
    lst.append(i)

data.loc[lst,"property"] = "구이류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "폭립":
    lst.append(i)

data.loc[lst,"property"] = "고기류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id        menu  menu_id  timestamp category property
14034        14034      472   함박스테이크*소스     1610         28       양식        0
14151        14151      476     감자만두*양념     1614         27       중식        0
14173        14173      477        칠리새우     1619         19       양식        0
14176        14176      477  오리양념불고기*쌈무     1620         22       한식        0
14198        14198      478   삼겹살수육&풋고추     1621         14       한식        0
...            ...      ...         ...      ...        ...      ...      ...
122558      122558     4127  부추샐러드*오리엔탈     1661         19       한식        0
122574      122574     4128        오향장육     1628          6       중식        0
122712      122712     4132     New)요거닭     1685         24       양식        0
122745      122745     4133        오향장육     1628         27       중식        0
122808      122808     4136         요거닭     1707          1       양식        0

[6249 rows x 7 columns]

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:6] == "함박스테이크":
    lst.append(i)

data.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "감자만두":
    lst.append(i)

data.loc[lst,"property"] = "찜류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "칠리새우":
    lst.append(i)

data.loc[lst,"property"] = "튀김류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:7] == "오리양념불고기":
    lst.append(i)

data.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:3] == "삼겹살":
    lst.append(i)

data.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:2] == "짜장":
    lst.append(i)

data.loc[lst,"property"] = "면류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "오향장육":
    lst.append(i)

data.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "요거닭":
    lst.append(i)

data.loc[lst,"property"] = "고기류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

        Unnamed: 0  user_id        menu  menu_id  timestamp category property
14248        14248      480       수원왕갈비     1630          6       한식        0
14253        14253      480     장어구이*소스     1631         11       일식        0
14262        14262      480     히레카츠*소스     1633         20       일식        0
14352        14352      483    부추고추전*간장     1640         20       한식        0
14365        14365      484   깻잎통닭*치킨소스     1646          4       양식        0
...            ...      ...         ...      ...        ...      ...      ...
122338      122338     4120     히레카츠*소스     1633          9       일식        0
122397      122397     4122    부추고추전*간장     1640          9       한식        0
122456      122456     4124   후라이드*강정소스     1648          8       양식        0
122471      122471     4124   깻잎통닭*치킨소스     1646         22       양식        0
122558      122558     4127  부추샐러드*오리엔탈     1661         19       한식        0

[6105 rows x 7 columns]

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:5] == "수원왕갈비":
    lst.append(i)

data.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "장어구이":
    lst.append(i)

data.loc[lst,"property"] = "구이류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "히레카츠":
    lst.append(i)

data.loc[lst,"property"] = "튀김류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:5] == "부추고추전":
    lst.append(i)

data.loc[lst,"property"] = "전류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "깻잎통닭":
    lst.append(i)

data.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "후라이드":
    lst.append(i)

data.loc[lst,"property"] = "패스트푸드류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:5] == "부추샐러드":
    lst.append(i)

data.loc[lst,"property"] = "샐러드류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

       Unnamed: 0  user_id      menu  menu_id  timestamp category property
33511       33511     1129       호두죽     1992          2       한식        0
33514       33514     1129        팥죽     1993          5       한식        0
33517       33517     1129     표고버섯죽     1994          8       한식        0
33545       33545     1130        밤죽     2002          6       한식        0
33554       33554     1130       김치죽     2004         15       한식        0
...           ...      ...       ...      ...        ...      ...      ...
98027       98027     3301       버섯죽     2025          9       한식        0
98629       98629     3321     <120명     2086         22       양식        0
99274       99274     3343       호박죽     2019         18       한식        0
99907       99907     3365  순두부백탕*간장     2095          1       한식        0
99959       99959     3366      흑임자죽     2001         22       한식        0

[6021 rows x 7 columns]

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[-1:] == "죽":
    lst.append(i)

data.loc[lst,"property"] = "국류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[-3:] == "20명":
    lst.append(i)

data.loc[lst,"property"] = "회류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:5] == "순두부백탕":
    lst.append(i)

data.loc[lst,"property"] = "탕류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

       Unnamed: 0  user_id    menu  menu_id  timestamp category property
35642       35642     1200    참치야채     2028         29       한식        0
35935       35935     1210  스크램블에그     2031         23       양식        0
39374       39374     1326    참치야채     2028         17       한식        0
39636       39636     1335  스크램블에그     2031         11       양식        0
43076       43076     1451    참치야채     2028          5       한식        0
43391       43391     1461  스크램블에그     2031         25       양식        0
46825       46825     1577    참치야채     2028         16       한식        0
47087       47087     1586  스크램블에그     2031         10       양식        0
50527       50527     1702    참치야채     2028          4       한식        0
50849       50849     1712  스크램블에그     2031         27       양식        0
54288       54288     1828    참치야채     2028         21       한식        0
54544       54544     1837  스크램블에그     2031         12       양식        0
57978       57978     1953    참치야채     2028          3       한식        0
58300       58300     1963  스크램블에그     2031         26       양식        0
61739       61739     2079    참치야채     2028         20       한식        0
62001       62001     2088  스크램블에그     2031         14       양식        0
65441       65441     2204    참치야채     2028          8       한식        0
65756       65756     2214  스크램블에그     2031         28       양식        0
67493       67493     2273  민물새우찌깨     2070          6       양식        0
71225       71225     2398  민물새우찌깨     2070         23       양식        0
74956       74956     2524  민물새우찌깨     2070         11       양식        0
78676       78676     2649  민물새우찌깨     2070         22       양식        0
82407       82407     2775  민물새우찌깨     2070         10       양식        0
86139       86139     2900  민물새우찌깨     2070         27       양식        0
89858       89858     3026  민물새우찌깨     2070          9       양식        0
93590       93590     3151  민물새우찌깨     2070         26       양식        0
97321       97321     3277  민물새우찌깨     2070         14       양식        0

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:4] == "참치야채":
    lst.append(i)

data.loc[lst,"property"] = "샐러드류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[:6] == "스크램블에그":
    lst.append(i)

data.loc[lst,"property"] = "구이류"

In [ ]:
lst = []

for i, j in enumerate(data["menu"]):
  if str(j)[-2:] == "찌깨":
    lst.append(i)

data.loc[lst,"property"] = "찌개류"

In [ ]:
df1 = data[data["property"] == 0]
df1 = df1.dropna(axis=0)
df1

Empty DataFrame
Columns: [Unnamed: 0, user_id, menu, menu_id, timestamp, category, property]
Index: []

In [ ]:
data

        Unnamed: 0  user_id      menu  menu_id  timestamp category property
0                0        0        찐빵        0          1       양식       빵류
1                1        0       맑은국       16          1       한식       국류
2                2        0     오징어찌개        1          2       한식      찌개류
3                3        0       육개장        2          3       한식       면류
4                4        0     단호박샌드        3          4       양식       빵류
...            ...      ...       ...      ...        ...      ...      ...
134149      134149     4517     채소계란찜     1517         26       한식       찜류
134150      134150     4517   애호박나물볶음     2341         27       한식      볶음류
134151      134151     4517  청포묵*양념간장     1991         28       한식     샐러드류
134152      134152     4517   마늘종호두조림     2337         29       한식      조림류
134153      134153     4517  춘권*타르타르D     1518         29       중식      튀김류

[134154 rows x 7 columns]

In [ ]:
data = data.sort_values(by=['user_id','timestamp'])

In [ ]:
data["property"].unique()

array(['빵류', '국류', '찌개류', '면류', '고기류', '디저트류', '탕류', '샐러드류', '패스트푸드류',
       '밥류', '튀김류', '찜류', '무침류', '패스트부드류', '구이류', '전류', '조림류', '볶음류',
       '회류', '부침류'], dtype=object)

In [ ]:
data.to_csv('/content/drive/MyDrive/data/dacon_menu_final_category_property.csv', encoding='utf-8-sig')

#가락고 데이터 전처리

In [ ]:
data1 = pd.read_csv("/content/drive/MyDrive/data/가락고_category.csv")

In [ ]:
data1

     Unnamed: 0  user_id     menu  menu_id  timestamp category
0             0     4518    김치볶음밥     2342          1       한식
1             1     4518       찜닭      655          2       한식
2             2     4518     부대찌개       54          3       한식
3             3     4518       짬뽕       63          4       중식
4             4     4518    오리불고기      868          5       한식
..          ...      ...      ...      ...        ...      ...
401         402     4531  토마토스파게티      120         26       양식
402         403     4531    카레라이스     2527         27       양식
403         404     4531     두부조림     1068         28       한식
404         376     4531   캠핑구이세트     2509         29       양식
405         405     4531    김밥볶음밥     2528         29       한식

[406 rows x 6 columns]

In [ ]:
data1["property"] = 0
data1

     Unnamed: 0  user_id     menu  menu_id  timestamp category  property
0             0     4518    김치볶음밥     2342          1       한식         0
1             1     4518       찜닭      655          2       한식         0
2             2     4518     부대찌개       54          3       한식         0
3             3     4518       짬뽕       63          4       중식         0
4             4     4518    오리불고기      868          5       한식         0
..          ...      ...      ...      ...        ...      ...       ...
401         402     4531  토마토스파게티      120         26       양식         0
402         403     4531    카레라이스     2527         27       양식         0
403         404     4531     두부조림     1068         28       한식         0
404         376     4531   캠핑구이세트     2509         29       양식         0
405         405     4531    김밥볶음밥     2528         29       한식         0

[406 rows x 7 columns]

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-2:] == "음밥":
    lst.append(i)

data1.loc[lst,"property"] = "밥류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-2:] == "찜닭":
    lst.append(i)

data1.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-2:] == "찌개":
    lst.append(i)

data1.loc[lst,"property"] = "찌개류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-2:] == "짬뽕":
    lst.append(i)

data1.loc[lst,"property"] = "면류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-3:] == "불고기":
    lst.append(i)

data1.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-4:] == "스파게티":
    lst.append(i)

data1.loc[lst,"property"] = "면류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-3:] == "라이스":
    lst.append(i)

data1.loc[lst,"property"] = "밥류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-2:] == "조림":
    lst.append(i)

data1.loc[lst,"property"] = "조림류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[:4] == "캠핑구이":
    lst.append(i)

data1.loc[lst,"property"] = "구이류"

In [ ]:
df1 = data1[data1["property"] == 0]
df1 = df1.dropna(axis=0)
df1

     Unnamed: 0  user_id    menu  menu_id  timestamp category property
5             5     4518    나시고랭     2343          6       양식        0
6             6     4518  돈육김치볶음      981          7       한식        0
7             7     4518  얼갈이된장국       47          8       한식        0
8             8     4518    잔치국수       42          9       한식        0
11           11     4518     닭곰탕       75         12       한식        0
..          ...      ...     ...      ...        ...      ...      ...
395         396     4531  쇠고기미역국       50         20       한식        0
396         397     4531     순댓국     2522         21       한식        0
398         399     4531     마라탕     2524         23       한식        0
399         400     4531      치킨     2525         24       양식        0
400         401     4531     삼겹살     2526         25       한식        0

[271 rows x 7 columns]

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[:4] == "나시고랭":
    lst.append(i)

data1.loc[lst,"property"] = "볶음류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-2:] == "볶음":
    lst.append(i)

data1.loc[lst,"property"] = "볶음류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-1:] == "국":
    lst.append(i)

data1.loc[lst,"property"] = "국류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-2:] == "국수":
    lst.append(i)

data1.loc[lst,"property"] = "면류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-1:] == "탕":
    lst.append(i)

data1.loc[lst,"property"] = "탕류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-2:] == "치킨":
    lst.append(i)

data1.loc[lst,"property"] = "패스트푸드류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-3:] == "삼겹살":
    lst.append(i)

data1.loc[lst,"property"] = "고기류"

In [ ]:
df1 = data1[data1["property"] == 0]
df1 = df1.dropna(axis=0)
df1

     Unnamed: 0  user_id     menu  menu_id  timestamp category property
12           12     4518      비빔밥     2345         13       한식        0
13           13     4518      육개장        2         14       한식        0
14           14     4518      짜장밥     2346         15       한식        0
15           15     4518    콩나물국밥     2347         16       한식        0
16           16     4518     훈제오리     2348         17       한식        0
..          ...      ...      ...      ...        ...      ...      ...
383         384     4531       보쌈     1597          8       한식        0
385         386     4531       불닭     2515         10       한식        0
389         390     4531    콩나물국밥     2518         14       한식        0
391         392     4531  탄두리장각구이     2519         16       한식        0
392         393     4531    돼지갈비찜      724         17       한식        0

[158 rows x 7 columns]

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-1:] == "밥":
    lst.append(i)

data1.loc[lst,"property"] = "밥류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-2:] == "개장":
    lst.append(i)

data1.loc[lst,"property"] = "국류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-2:] == "오리":
    lst.append(i)

data1.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-2:] == "보쌈":
    lst.append(i)

data1.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-2:] == "불닭":
    lst.append(i)

data1.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-2:] == "구이":
    lst.append(i)

data1.loc[lst,"property"] = "구이류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-1:] == "찜":
    lst.append(i)

data1.loc[lst,"property"] = "찜류"

In [ ]:
df1 = data1[data1["property"] == 0]
df1 = df1.dropna(axis=0)
df1

     Unnamed: 0  user_id     menu  menu_id  timestamp category property
17           17     4518    로제파스타      759         18       양식        0
25           25     4518    들깨수제비      397         26       한식        0
29           29     4519    감자수제비     2353          1       한식        0
36           36     4519       숙회     2357          8       한식        0
37           37     4519      돈가스     2358          9       일식        0
47           47     4519    로제파스타      759         19       양식        0
66           66     4520      닭갈비      620          9       한식        0
76           76     4520       육전     1625         19       한식        0
96           96     4521      닭갈비      620         10       한식        0
98           98     4521      닭갈비      620         12       한식        0
107         107     4521      수제비     2389         21       한식        0
121         121     4522      수제비     2395          6       한식        0
128         128     4522      돈가스     2397         13       일식        0
132         132     4522      수제비     2400         17       한식        0
143         143     4522   함박스테이크      128         28       양식        0
147         147     4523      코다리     2409          3       한식        0
150         150     4523      짜장면      797          6       중식        0
156         156     4523   샐러드파스타      725         12       양식        0
165         165     4523      돈가스     2417         21       일식        0
168         168     4523    로제파스타      759         24       양식        0
170         170     4523       파이     2418         26       양식        0
177         177     4524      닭갈비      620          4       한식        0
178         178     4524      수제비     2422          5       한식        0
187         187     4524      닭갈비      620         14       한식        0
195         195     4524   함박스테이크      128         22       양식        0
196         196     4524    옛날도시락     2429         23       한식        0
200         200     4524  목살찹스테이크     1668         27       양식        0
211         211     4525   생크림오믈렛     2434          9       양식        0
218         218     4525      수제비     2440         16       한식        0
225         225     4525       잠뽕     2444         23       중식        0
228         228     4525      닭꼬치     2446         26       양식        0
237         237     4526      짜장면      797          6       중식        0
239         239     4526   샐러드파스타      725          8       양식        0
249         249     4526      돈가스     2454         18       일식        0
272         272     4527   투움바파스타     2463         12       양식        0
276         276     4527      닭갈비      620         16       한식        0
278         278     4527      짜장면      797         18       중식        0
284         284     4527     화이트슈     2469         24       양식        0
286         286     4527      수제비     2470         26       한식        0
296         296     4528      닭갈비      620          7       한식        0
301         301     4528      수제비     2474         12       한식        0
306         306     4528      닭갈비      620         17       한식        0
309         309     4528      짜장면      797         20       중식        0
315         315     4528   샐러드파스타      725         26       양식        0
318         318     4528    로제파스타      759         29       양식        0
322         322     4529      돈가스     2484          4       일식        0
325         325     4529    옛날도시락     2486          7       한식        0
332         332     4529     화이트슈     2490         14       양식        0
334         334     4529   오레오크로플     2491         16       양식        0
335         335     4529      돈가스     2492         17       일식        0
338         338     4529     깐쇼새우      937         20       중식        0
344         344     4529      수제비     2495         26       한식        0
356         356     4530      수제비     2502          9       한식        0
363         363     4530  햄치즈샌드위치      411         16       양식        0
375         375     4530      롤케익       59         28       양식        0
376         377     4531      수제비     2510          1       한식        0
378         379     4531      닭갈비      620          3       한식        0
379         380     4531     샤브샤브     2512          4       한식        0
380         381     4531      미트볼     2513          5       양식        0
381         382     4531   투움바파스타     2514          6       양식        0

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-3:] == "파스타":
    lst.append(i)

data1.loc[lst,"property"] = "면류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-3:] == "수제비":
    lst.append(i)

data1.loc[lst,"property"] = "탕류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-2:] == "숙회":
    lst.append(i)

data1.loc[lst,"property"] = "회류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-3:] == "돈가스":
    lst.append(i)

data1.loc[lst,"property"] = "튀김류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-3:] == "닭갈비":
    lst.append(i)

data1.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-1:] == "전":
    lst.append(i)

data1.loc[lst,"property"] = "전류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-4:] == "스테이크":
    lst.append(i)

data1.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-3:] == "코다리":
    lst.append(i)

data1.loc[lst,"property"] = "고기류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-1:] == "면":
    lst.append(i)

data1.loc[lst,"property"] = "면류"

In [ ]:
df1 = data1[data1["property"] == 0]
df1 = df1.dropna(axis=0)
df1

Empty DataFrame
Columns: [Unnamed: 0, user_id, menu, menu_id, timestamp, category, property]
Index: []

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-2:] == "파이":
    lst.append(i)

data1.loc[lst,"property"] = "디저트류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-3:] == "도시락":
    lst.append(i)

data1.loc[lst,"property"] = "밥류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-3:] == "오믈렛":
    lst.append(i)

data1.loc[lst,"property"] = "밥류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-1:] == "뽕":
    lst.append(i)

data1.loc[lst,"property"] = "면류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-2:] == "꼬치":
    lst.append(i)

data1.loc[lst,"property"] = "구이류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-1:] == "슈":
    lst.append(i)

data1.loc[lst,"property"] = "디저트류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-3:] == "크로플":
    lst.append(i)

data1.loc[lst,"property"] = "디저트류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-2:] == "새우":
    lst.append(i)

data1.loc[lst,"property"] = "튀김류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-4:] == "샌드위치":
    lst.append(i)

data1.loc[lst,"property"] = "빵류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-2:] == "케익":
    lst.append(i)

data1.loc[lst,"property"] = "디저트류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-4:] == "샤브샤브":
    lst.append(i)

data1.loc[lst,"property"] = "탕류"

In [ ]:
lst = []

for i, j in enumerate(data1["menu"]):
  if str(j)[-3:] == "미트볼":
    lst.append(i)

data1.loc[lst,"property"] = "고기류"

In [ ]:
data1

     Unnamed: 0  user_id     menu  menu_id  timestamp category property
0             0     4518    김치볶음밥     2342          1       한식       밥류
1             1     4518       찜닭      655          2       한식      고기류
2             2     4518     부대찌개       54          3       한식      찌개류
3             3     4518       짬뽕       63          4       중식       면류
4             4     4518    오리불고기      868          5       한식      고기류
..          ...      ...      ...      ...        ...      ...      ...
401         402     4531  토마토스파게티      120         26       양식       면류
402         403     4531    카레라이스     2527         27       양식       밥류
403         404     4531     두부조림     1068         28       한식      조림류
404         376     4531   캠핑구이세트     2509         29       양식      구이류
405         405     4531    김밥볶음밥     2528         29       한식       밥류

[406 rows x 7 columns]

In [ ]:
data

        Unnamed: 0  user_id      menu  menu_id  timestamp category property
0                0        0        찐빵        0          1       양식       빵류
1                1        0       맑은국       16          1       한식       국류
2                2        0     오징어찌개        1          2       한식      찌개류
3                3        0       육개장        2          3       한식       면류
4                4        0     단호박샌드        3          4       양식       빵류
...            ...      ...       ...      ...        ...      ...      ...
134149      134149     4517     채소계란찜     1517         26       한식       찜류
134150      134150     4517   애호박나물볶음     2341         27       한식      볶음류
134151      134151     4517  청포묵*양념간장     1991         28       한식     샐러드류
134152      134152     4517   마늘종호두조림     2337         29       한식      조림류
134153      134153     4517  춘권*타르타르D     1518         29       중식      튀김류

[134154 rows x 7 columns]

In [ ]:
final_data = pd.concat([data,data1])

print(len(data))
print(len(data1))
print(len(final_data))

134154
406
134560

In [ ]:
final_data.to_csv('/content/drive/MyDrive/data/total_menu_final_category_property.csv', encoding='utf-8-sig')

In [ ]:
final_data

     Unnamed: 0  user_id     menu  menu_id  timestamp category property
0             0        0       찐빵        0          1       양식       빵류
1             1        0      맑은국       16          1       한식       국류
2             2        0    오징어찌개        1          2       한식      찌개류
3             3        0      육개장        2          3       한식       면류
4             4        0    단호박샌드        3          4       양식       빵류
..          ...      ...      ...      ...        ...      ...      ...
401         402     4531  토마토스파게티      120         26       양식       면류
402         403     4531    카레라이스     2527         27       양식       밥류
403         404     4531     두부조림     1068         28       한식      조림류
404         376     4531   캠핑구이세트     2509         29       양식      구이류
405         405     4531    김밥볶음밥     2528         29       한식       밥류

[134560 rows x 7 columns]